-#.content.wrapper
-#  %ul
-#    %li
-#      %h2
-#        Title
-#      =@announcement.title
-#    %li
-#      %h2
-#        Body
-#      =@announcement.title
-#    %li
-#      = image_tag @announcement.photo ,:size => "200x200"

.content.ChapterDetails
  .breadCrumb
    %span Wiki
    %span.breadCrumbDivider /
    %span.activePage #{@announcement.title}
  .blueHeader
    .chapterName.clearfix
      %h1 #{@announcement.title}
    .chapterDateAndPlace.clearfix
      %span.chapterDate #{@announcement.created_at.strftime("%B %d,%Y")}
  .chapterLayout
    -#%img.articleImg{:src => "/assets/article_img.jpg"}
    -if @announcement.image.announcement_landscape.present?
      = image_tag @announcement.image.announcement_landscape ,:class => "articleImg"
    -else
      =image_tag @announcement.photo ,:class => "articleImg"

    .articleLayout
      .clearfix
        .sliderHeadingMid
          %h3 Description
        .articleDescription
          %p #{@announcement.body}
          -#%a{:href => "#"} More...
      #all_announcement_comments
        -#= render :partial => "comments"
        .comments.clearfix
          .sliderHeadingMid
            %h3 Comments
          .articleDescription
            %ul.posts
              -@comments.each do |comment|
                %li
                  .clearfix
                    = avatar_display_pic(comment.user,'thumb', '50x50','profile.png',"img-c flt-left")
                    .commentText
                      %h5 #{comment.user.fullname}
                      %span.commentDate #{comment.created_at.strftime("%B %d,%Y")}
                      %p
                        #{comment.content}
                        -#%a{:href => "#"} View more



      .comments
        .addCommentBox
          -if @current_user.present?
            = form_tag(add_comment_announcement_path,:method => "POST",:class => "add_comment",:remote => true) do
              = text_area_tag "comment[content]","", :placeholder => "comment", :label => false, :class => " content_comment_class ta-a"
              = hidden_field_tag "comment[commentable_type]","Announcement"
              = hidden_field_tag "comment[commentable_id]",@announcement.id
              = button_tag "Add Comment",:class => "addBtn btn add_comment_button"
