- if @events.present?
  %table.table-e
    %thead
      %tr
        %td{:style => "width:100px;text-align: left;"}
          %h5.label-46 Event Title
        %td{:style => "width:115px;"}
          %h5.label-46 Start
        %td{:style => "width:100px;"}
          %h5.label-46 End
        %td{:style => "width:110px;"}
          %h5.label-46 Location
        %td{:style => "width:160px;"}
          .dd-b
            %h5.label-46
              Action
    %tbody
      - @events.each do |event|
        %tr
          %td{:style => "text-align: left;"}
            %h5.label-48= event.title
          %td
            %h5.label-48= event.event_start_date
          %td
            %h5.label-48= event.event_end_date
          %td
            %h5.label-48= event.try(:chapter).location
          %td
            %h5.label-48
              %button.btn-a-small.change_status{"data-url" => "#"} Approve
              -#%button.btn-a-small.change_status{"data-url" => "#{add_secondary_coordinator_admin_chapter_path(chapter)}"} Add Secondary Co-ordinator
              =link_to "Add Secondary Coordinator", "#", :class => "btn-a-small change_status" ,:method => "get"

      %tr
- else
  No Applying Events
