= javascript_include_tag "jquery"
= stylesheet_link_tag    "event", :media => "all"
= javascript_include_tag "jquery"
.content.wrapper
  %h1
  -#-if !@eb_client.nil?
  = render 'form'
  -#-else
    = link_to 'Connect to Eventbrite', "#{@accept_url}"

  -#= link_to 'Back', events_path