= "Hi #{@user.fullname},"
%br
%p
= "You have successfully registered to the chapter #{@chapter.name} of Cloud Foundry developer groups. For further details regarding the event please refer the below link"
%br
%a{:href => "#{detail_chapter_url(@chapter)}"} Click Here
%p
Thank you
%p
CloudFoundry Team
