.content.wrapper
  .content-a
    .ca-left
      =form_for(@user, :as => :user, :url => user_path(@user), :html => { :method => :put ,  :multipart => true}) do |f|
        #welcome
          %div
            - if @user.avatar_file_name && (@user.errors[:avatar_content_type].blank? && @user.errors[:avatar_file_size].blank?)
              %img.profile-image{:src => @user.try(:avatar).url(:medium)}/
            - else
              %img.profile-image{:src => "/assets/default-Profile-Image.png"}/
          %span.upload-button
            %div
              = t("settings.upload_avatar")
            = f.file_field :avatar, :id => 'avatar-upload'
          = image_tag "loader-tiny.gif", :id => "upload-loader", :class => "hide"
        .forms_list
          #formfirst.formfirst
            %h4.form1
              = t('settings.personal_info')
            %div
              = f.text_field :name,  :placeholder => User.human_attribute_name(:name), :class => "textboxes input-a"
            %div
              = f.text_field :email, :placeholder => User.human_attribute_name(:email),    :class => "textboxes input-a"
            %div
              = f.text_field :mobile,:placeholder => User.human_attribute_name(:mobile),    :class => "textboxes input-a"
            %div
              = f.select :state, options_for_select(@states.collect { |s| [s.name, s.id]}, @state.id) 
              = f.select :city_id, options_for_select(@cities.collect { |c| [c.name, c.id]}, @city.id)
              %br

          / .line_space
          #formsecond.formsecond
            %h4.form1
              = t('settings.role_info')
            %div.roles
              - User::ROLES.each do |role|
                = f.radio_button :role, role, :'data-tab' => role == 'student' ? '#school-info' : '#company-info'
                = label "user_role_#{role}".to_sym, t("user_info.roles.#{role}")
            %div.info-blocks
              %div.tab{ :id => "company-info", :class => ("hide" if @user.role == 'student') }
                = f.fields_for :company_info do |builder|
                  %div
                    = builder.text_field :company_name, :placeholder => CompanyInfo.human_attribute_name(:company_name), :class => "textboxes input-a"
                  %div
                    = builder.text_field :industry, :placeholder => CompanyInfo.human_attribute_name(:industry), :class => "textboxes input-a"
                  %div
                    = builder.text_field :department, :placeholder => CompanyInfo.human_attribute_name(:department), :class => "textboxes input-a"
                  %div
                    = builder.text_field :title, :placeholder => CompanyInfo.human_attribute_name(:title), :class => "textboxes input-a"
                  %div
                    = builder.text_field :tel, :placeholder => CompanyInfo.human_attribute_name(:tel),  :class => "textboxes input-a"
              %div.tab{ :id => "school-info", :class => ("hide" unless @user.role == 'student') }
                = f.fields_for :school_info do |builder|
                  %div.select-college
                    %div(id="select-college"){ :class => ("hide" unless current_user.school_info.try(:other_college_name).blank?) }
                      = builder.select :college_id, options_for_select(@colleges.collect { |c| [c.name, c.id]}, @college.id)
                      %a(href="javascript:void(0)" id="college-not-found")
                        = t('settings.college_not_found')
                    %div(id="input-college"){ :class => ("hide" if current_user.school_info.try(:other_college_name).blank?) }
                      = builder.text_field :other_college_name, :placeholder => SchoolInfo.human_attribute_name(:other_college_name), :class => "textboxes input-a"
                      %br
                      %a(href="javascript:void(0)" id="back-to-college-select")
                        = t('settings.back_to_select')
                  %div.select-institution
                    %div(id="select-institution"){ :class => ("hide" unless current_user.school_info.try(:other_institution_name).blank?) }
                      = builder.select :institution_id, options_for_select(@institutions.collect { |i| [i.name, i.id]}, @institution.id) 
                      %a(href="javascript:void(0)" id="institution-not-found")
                        = t('settings.institution_not_found')
                    %div(id="input-institution"){ :class => ("hide" if current_user.school_info.try(:other_institution_name).blank?) }
                      = builder.text_field :other_institution_name, :placeholder => SchoolInfo.human_attribute_name(:other_institution_name), :class => "textboxes input-a"
                      %br
                      %a(href="javascript:void(0)" id="back-to-institution-select"){ :class => ("hide" if current_user.school_info.try(:college_id).nil?) }
                        = t('settings.back_to_select')
                  %div
                    = builder.text_field :major, :placeholder => SchoolInfo.human_attribute_name(:major), :class => "textboxes input-a"
                  %div
                    = builder.text_field :graduated_at, :placeholder => SchoolInfo.human_attribute_name(:graduated_at), :class => "textboxes input-a", :value => @user.school_info.try(:graduated_at).nil? ? "" : I18n.l(@user.school_info.try(:graduated_at), :format => :only_date)

            .styled
              = f.submit "CONTINUE" , :class => "continue btn-a-small flt-right"

= content_for :javascript do
  %script{:src => "http://commons.qiniudn.com/jquery.fileupload.min.js"}
