.content.wrapper
  .content-a
    .ca-left.flt-left
      =form_for(@user, :as => :user, :url => user_path(@user), :html => { :method => :put ,  :multipart => true}) do |f|
        #welcome
          %h1.label-17 Welcome #{@user.fullname}!
          %div
            - if @user.avatar_file_name && (@user.errors[:avatar_content_type].blank? && @user.errors[:avatar_file_size].blank?)
              %img.profile-image{:src => @user.try(:avatar).url(:medium)}/
            - else
              %img.profile-image{:src => "/assets/default-Profile-Image.png"}/
          = f.file_field :avatar, :id => 'avatar-upload'
        .forms_list
          #formfirst
            %h4.form1
              = t('settings.personal_info')
            %div
              = f.text_field :last_name ,  :placeholder => t('user_info.last_name'), :class => "textboxes input-a"
            %div
              = f.text_field :first_name , :placeholder => t('user_info.first_name'), :class => "textboxes input-a"
            %div
              = f.text_field :email ,      :placeholder => t('user_info.email'),    :class => "textboxes input-a"
            %div
              = f.text_field :mobile ,     :placeholder => t('user_info.mobile'),    :class => "textboxes input-a"
            %div
              = f.select :country, @countries.collect { |c| [c.name, c.name]}
              = f.select :state, @states.collect { |s| [s.name, s.id]}
              = f.select :city_id, @cities.collect { |c| [c.name, c.id]}

          .line_space
          #formsecond
            %h4.form1      
              = t('settings.role_info')
            %div.roles
              - User::ROLES.each do |role|
                = f.radio_button :role, role, :'data-tab' => role == 'student' ? '#school-info' : '#company-info'
                = label "user_role_#{role}".to_sym, role
            %div.info-blocks
              %div.tab{ :id => "company-info" }
                = f.fields_for :company_info do |builder|
                  %div
                    = builder.text_field :company_name, :placeholder => t('company_info.company_name'), :class => "textboxes input-a"
                  %div
                    = builder.text_field :industry, :placeholder => t('company_info.industry'), :class => "textboxes input-a"
                  %div
                    = builder.text_field :department, :placeholder => t('company_info.department'), :class => "textboxes input-a"
                  %div
                    = builder.text_field :title, :placeholder => t('company_info.title'), :class => "textboxes input-a"
                  %div
                    = builder.text_field :tel, :placeholder => t('company_info.tel'),  :class => "textboxes input-a"

              %div.tab{ :id => "school-info" }
                = f.fields_for :school_info do |builder|
                  %div
                    %div(id="select-college")
                      = builder.select :college_id, options_from_collection_for_select(@colleges, "id", "name")
                      %a(href="javascript:0" id="school-not-found")
                        = t('settings.college_not_found')
                    %div.hide(id="input-college")
                      = builder.text_field :other_school_name, :placeholder => t('school_info.school_name'), :class => "textboxes input-a"
                      %a(href="javascript:0" id="back-to-college-select")
                        = t('settings.college_not_found')
                  %div
                    %div(id="select-institution")
                      = builder.select :institution_id, @institutions.collect { |i| [i.name, i.id]}
                      %a(href="javascript:0" id="institution-not-found")
                        = t('settings.institution_not_found')
                    %div.hide(id="input-institution")
                      = builder.text_field :other_institution, :placeholder => t('school_info.institution'), :class => "textboxes input-a hide"
                      %a(href="javascript:0" id="back-to-institution-select")
                        = t('settings.back_to_select')
                  %div
                    = builder.text_field :major, :placeholder => t('school_info.major'), :class => "textboxes input-a"
                  %div
                    = builder.text_field :graduated_at, :placeholder => t('school_info.graduated_at'),  :class => "textboxes input-a"

            .styled
              = f.submit "CONTINUE" , :class => "continue btn-a-small flt-right"

= content_for :javascript do
  %script{:src => "http://commons.qiniudn.com/jquery.fileupload.min.js"}
