.content.wrapper
  .content-a
    .ca-left.flt-left
      =form_for(@user, :as => :user, :url => user_path(@user), :html => { :method => :put ,  :multipart => true}) do |f|
        #welcome
          %h1.label-17 Welcome #{@user.fullname}!
          %div
            - if @user.avatar_file_name && (@user.errors[:avatar_content_type].blank? && @user.errors[:avatar_file_size].blank?)
              %img.profile-image{:src => @user.try(:avatar).url(:medium)}/
            - else
              %img.profile-image{:src => "/assets/default-Profile-Image.png"}/
          = f.file_field :avatar, :id => 'avatar-upload'
        .forms_list
          #formfirst
            %h4.form1 Personal Information
            %div
              = f.text_field :last_name ,  :placeholder => "Last Name", :class => "textboxes input-a"
            %div
              = f.text_field :first_name , :placeholder => "First Name", :class => "textboxes input-a"
            %div
              = f.text_field :mobile ,     :placeholder => "Mobile",    :class => "textboxes input-a"
            %div
              = f.select :country, @countries.collect { |c| [c.name, c.name]}
              = f.select :state, @states.collect { |s| [s.name, s.name]}
              = f.select :city, @cities.collect { |c| [c.name, c.id]}
          .line_space
          #formsecond
            %h4.form1 Role Information            
            %div
              - User::ROLES.each do |role|
                = f.radio_button :role, role
                = label "user_role_#{role}".to_sym, role
            %div.info-block
              = render 'users/info_blocks/company_info'

            .styled
              = f.submit "CONTINUE" , :class => "continue btn-a-small flt-right"

- content_for :javascript do
  %script{:src => "http://cfdg.qiniudn.com/jquery.fileupload.min.js"}
  :javascript
    $('#avatar-upload').fileupload({
      url: "avatar",
      add: function (e, data) {        
         data.submit() 
      } 
    });
