%header
  .container.clearfix
    %ul.clearfix
      -#%li
      -#  %a{:href => ""} FAQ'S
      -if @current_user.present?
        %li
          %a{:href => "#{profile_path}"} MY PROFILE
        %li
          %a.logout{:href => "#"} LOGOUT
      -else
        %li
          %a.signin#login{:href => "#"} LOGIN
    -#.searchBox
      %input{:placeholder => "Search", :type => "text"}
      %button.searchIcon
:javascript
  google.load("identitytoolkit", "1", {packages: ["ac"], language:"#{lang}"});
:javascript
  $(function() {
    $("#login").on("click",function(){
      window.google.identitytoolkit.setConfig({
        developerKey: "#{FEDERATED_KEY}",
        companyName: "cloudfoundry usergroups",
        callbackUrl: "#{verify_user_url()}",
        realm: "",
        userStatusUrl: "/user_status",
        loginUrl: "/login",
        signupUrl: "/sign_up",
        homeUrl: "/profile",
        //homeUrl: "#{session[:url]}",
        logoutUrl: "/logout",
        idps: ["Gmail", "Yahoo"],
        tryFederatedFirst: true,
        useCachedUserStatus: false,
        useContextParam: true
      });
      $("#navbar").accountChooser();
    });

    $('.signup').click(function(){
      $('#navbar').accountChooser('showAccountChooser');
      $(".widget-header h1").text("#{t('menu.signup')}");
      $(".widget-nascar-list h2").text("#{t('menu.signup_with')}");
    });
  });