.comingEvents.clearfix
  .fullHeading
    %h3 Upcoming Events
  -if @upcoming_events.present?
    #ca-container.ca-container.clearfix
      .ca-wrapper
        -@upcoming_events.each do |event|
          .ca-item.ca-item-1
            .ca-item-main
              .eventListWrapper
                .eventListInner
                  .clearfix
                    .dateAndPlace
                      .date
                        -chapter = event.chapter
                        =event.event_start_date_in_date.strftime("%b %d,%Y")
                      .place
                        ="#{event.chapter.city_name},#{chapter.country_name}"
                    .tag
                      -if chapter.chapter_type == "student"
                        %img{:src => "/assets/student_event.png"}
                      -else
                        %img{:src => "/assets/professional_event.png"}
                  .eventImg
                    -#%img{:alt => "No_image", :src => "/assets/event_snap_5.jpg"}
                    -if event.image.event_landscape.present?
                      = image_tag(event.image.event_landscape.url,:size => "260x150")
                    -elsif event.image.present?
                      = image_tag(event.image.url,:size => "260x150")
                    -else
                      =image_tag("event_landscape_logo-b.png",:size => "260x150")
                  .eventContent
                    %h5
                      =event.title
                    .personName
                      =event.user.fullname
                    %p.lightGrayText
                      =event.description.truncate(70)
                    %a{:href => "#{event_path(event)}"} View Event
                .eventListFooter
                  %span.numberPeopleAttending #{event.event_members.length} People Attending
                  -#%span People Attending


  -else
    .noEventText No Events