.container
  .logo
    =image_tag("cfdg_logo.png")
  .navbar
    .navbar-inner
      %ul.clearfix.nav
        %li
          %a.home{:href => "#{root_path}"}
        %li
          %a.about{:href => "#{about_path}"} About
        %li
          %a.chapter{:href => "#{directory_path}"} Chapters
        %li
          %a.event{:href => "#{event_listing_events_path}"} Events
        %li
          %a.wiki{:href =>"#{wiki_path}"} Wiki