.container
  .logo
    -#=image_tag("cfdg_logo.png")
    =image_tag("cfdg_logo1.png")
  .navbar{:controller => params["controller"]}
    .navbar-inner{:action => params["action"]}
      %ul.clearfix.nav
        %li
          %a.home{:href => "#{root_path}"}
        %li
          %a.about{:href => "#{about_path}"} About
        %li
          %a.chapter{:href => "#{directory_path}"} Chapters
        %li
          %a.event{:href => "#{event_listing_events_path}"} Events
        %li
          %a.wiki{:href =>"#{wiki_path}"} Wiki

:javascript
  $(document).ready(function(){
    if($(".navbar").attr("controller") == "home" && $(".navbar-inner").attr("action") == "index"){
      $(".home").addClass("activeTab");
    }
    else if($(".navbar").attr("controller") == "home" && $(".navbar-inner").attr("action") == "wiki"){
      $(".wiki").addClass("activeTab");
    }
    else if($(".navbar").attr("controller") == "home" && $(".navbar-inner").attr("action") == "about"){
      $(".about").addClass("activeTab");
    }
    else if($(".navbar").attr("controller") == "home" && $(".navbar-inner").attr("action") == "directory"){
      $(".chapter").addClass("activeTab");
    }
    else if($(".navbar").attr("controller") == "events"){
      $(".event").addClass("activeTab");
    }

    //$("ul.clearfix li a").hover(function(){
    //  $(this).addClass("activeTab");
    //});
  });
