= javascript_include_tag "jquery.coda-slider-3.0"
= javascript_include_tag "jquery.vticker-min"
= javascript_include_tag "jquery.mousewheel"
= javascript_include_tag "jquery.contentcarousel"
= javascript_include_tag "jquery.easing.1.3"
= javascript_include_tag "jquery.validate"


%title Coda Slider 3.0
:javascript
  $(document).ready(function(){
    $('#search_chapter').validate({
      rules: {
        "query": {
          required: true
        }
      },
      errorPlacement:function(error,element){
        error.insertAfter($(".citySearch")).addClass("chapterSearchError");
        $("label.error").hide();
      }
    });
    $('#query').on('keypress', function(e){
      $("label.error").hide();
    });
  });
  $(function(){
      /* Here is the slider using default settings */
    $('#slider-id').codaSlider({
      autoSlide:true,
      autoHeight:false
    });
    $('h2.title').hide();
    $('#news-container').vTicker({
      speed: 1000,
      //animation: 'fade',
      mousePause: true,
      showItems: 3
    });
  });



-#=render :partial => "/shared/new_header"
.content
  =render :partial => "/shared/slider_info"
  .row.clearfix
    .span4
      .latestAnnouncement
        .smallHeading
          %h3 Latest Announcements
        #news-container{:style => "overflow: hidden; position: relative; height: 114px;"}
          %ul{:style => "position: absolute; margin: 0pt; padding: 0pt; top: 0px;"}
            -@announcements.each do |i|
              %li
                %div
                  .imgBox
                    -#%img{:alt => "", :src => "assets/images/user_img_1.jpg"}
                    -#= image_tag("user_img_1.jpg")
                    = photo_display_pic(i,"mini","79x81","img-b.png",'img-c')
                  .textBox
                    %span.date.lightGrayText
                      =i.created_at.strftime("%B %d,%Y")
                    %h4
                      =i.title
                    %p
                      =i.body.truncate(25)
                    -#%button.btn Learn More
              
    .span8
      .cfdgChapter
        .longHeading
          %h3 Check whether your city has a CFDG chapter?
        .citySearch
          %span.citySearchIcon
          =form_tag search_chapters_path  , :method => :get,:id => "search_chapter"  do
            = autocomplete_field_tag 'query', '', autocomplete_city_details_home_index_path, :size => 75 ,:placeholder => "City Name"
            =button_tag "" ,:class =>"citySearchBtn"


        .map
          = gmaps4rails(@markers)
        .createChapter.clearfix
          -if current_user.blank?

            %p Couldn't find a chapter in your city?
            %a.orangeBtn.signin.createChapterBtn CREATE A CHAPTER

          -else
            -if !ChapterMember.is_primary_coordinator?(current_user.id)
              %a.orangeBtn.createChapterBtn{:href => "#{new_chapter_path}"} CREATE A CHAPTER

  = render :partial => "/shared/upcomming_events"


-#=render :partial => "/shared/new_footer"

-#%script{:src => "js/jquery.easing.1.3.js", :type => "text/javascript"}
-#/ the jScrollPane script
-#%script{:src => "js/jquery.mousewheel.js", :type => "text/javascript"}
-#%script{:src => "js/jquery.contentcarousel.js", :type => "text/javascript"}
:javascript
  $('#ca-container').contentcarousel({
     // speed for the sliding animation
     sliderSpeed     : 500,
     // easing for the sliding animation
     sliderEasing    : 'easeOutExpo',
     // speed for the item animation (open / close)
     itemSpeed       : 500,
     // easing for the item animation (open / close)
     itemEasing      : 'easeOutExpo',
     // number of items to scroll at a time
     scroll          : 2
 });


  function redirect_to(url) {
    return function(){window.location = url;}
  };

  Gmaps.map.callback = function() {
    if (Gmaps.map.markers.length == 0 ){
      setTimeout(function() { Gmaps.map.serviceObject.setZoom(1);}, 50);
    }
    else{
      setTimeout(function() { Gmaps.map.serviceObject.setZoom(4);}, 50);
    }
    for (var i = 0; i <  Gmaps.map.markers.length; i++) {
      google.maps.event.addListener(Gmaps.map.markers[i].serviceObject, 'click',   redirect_to(Gmaps.map.markers[i].link));
    }
  };

:javascript
  google.load("identitytoolkit", "1", {packages: ["ac"], language:"#{lang}"});
:javascript
  $(function() {
    $(".createChapterBtn").on("click",function(){
      window.google.identitytoolkit.setConfig({
        developerKey: "#{FEDERATED_KEY}",
        companyName: "cloudfoundry usergroups",
        callbackUrl: "#{verify_user_url()}",
        realm: "",
        userStatusUrl: "/user_status",
        loginUrl: "/login",
        signupUrl: "/sign_up",
        //homeUrl: "/profile",
        homeUrl: "#{session[:url]}",
        logoutUrl: "/logout",
        idps: ["Gmail", "Yahoo"],
        tryFederatedFirst: true,
        useCachedUserStatus: false,
        useContextParam: true
      });
      $("#navbar").accountChooser();
    });

    $('.signup').click(function(){
      $('#navbar').accountChooser('showAccountChooser');
      $(".widget-header h1").text("#{t('menu.signup')}");
      $(".widget-nascar-list h2").text("#{t('menu.signup_with')}");
    });
  });
