-#-if @eb_client.nil?
-#  = link_to 'Connect to Eventbrite', "#{@accept_url}", :class => "btn-a-small" , :style => "margin-left:30%;"
-#-else
= javascript_include_tag "jquery.validate"
= javascript_include_tag "jquery.blockUI"
= semantic_form_for @event ,:url => chapter_events_path(params[:chapter_id]),:method => :post,:remote=> true do |f|
  .event-form
    .event-left{:style => "width:100%;"}
      .el-cont{:style => "margin-bottom: 16px;"}
        %h2.label-45.flt-left Create Event For #{@event.chapter.try(:name)}
    .event-left{:style => "width:95%;"}
      .el-cont.createEventField
        %label.label-26.eventTitle  Event Title
        = f.input :title , :input_html => {:class => "input-b size-f flt-left"} , :placeholder => "Event Title", :label => false
      -#.error{:class => "el-cont"}
        %li{:style => "float:left;", :class => "inline-errors event_title"} &nbsp;
      .el-cont.createEventField
        %label.flt-left.label-26 Starts On
        = f.input :event_start_date , :input_html => {:class => "input-b size-b size-of-inputs "} , :placeholder => "dd/mm/yyyy", :label => false
        = f.input :event_start_time ,  :placeholder => "hh:mm", :label => false,   :input_html => {:class => "input-b size-b size-of-inputs timepicker" }
        .error{:class => "el-cont", :style => "clear:both"}
          %li{:style => "padding-left:74px;float:left;width:35%;", :class => "inline-errors event_event_start_date"}
          %li{:style => "float:left;padding-left:74px;", :class => "inline-errors event_event_start_time"}
      .el-cont.createEventField
        %label.flt-left.label-26 Ends On
        = f.input :event_end_date , :input_html => {:class => "input-b size-b size-of-inputs"} , :placeholder => "dd/mm/yyyy", :label => false
        = f.input :event_end_time ,  :placeholder => "hh:mm", :label => false , :input_html => {:class => "input-b size-b size-of-inputs timepicker" }
        .error{:class => "el-cont", :style => "clear:both"}
          %li{:style => "padding-left:74px;width:35%;", :class => "inline-errors event_event_end_date"}
          %li{:style => "padding-left:74px;", :class => "inline-errors event_event_end_time"}
    .event-bottom
  .event-form
    .event-left
      .el-cont{:style => "text-align: center;margin-top:10px;"}
        %div{:style => " width: 250px;height:160px;background: #ccc;margin: 0 auto;"}
        = f.file_field :image, :class => "label-14"
        -#%a.label-14{:href=>"",:id => "image_upload_link",:style => " width: 250px;height:160px;margin: 0 auto;"}
          Upload Image
        -#%div{:style => "display:none"}
          = f.file_field :image, :class => "label-14"



      .el-cont
    .event-right
      .el-cont
        %h5.label-26.flt-left Location
      .el-cont
      .el-cont{:style => "margin-bottom:2px;"}
        = f.input :venue , :input_html => {:class => "input-b size-text-event-create"} , :placeholder => "Venue Name", :label => false

      .el-cont
        = f.input :address_line1 , :input_html => {:class => "input-b size-text-event-create"} , :placeholder => "Address Line 1", :label => false

      .el-cont
        = f.input :address_line2 , :input_html => {:class => "input-b size-text-event-create"} , :placeholder => "Address Line 2", :label => false

      .el-cont
        = f.input :city_name ,:input_html => { :class => "input-b size-text-event-create" }, :placeholder => "Type to select a city", :label => false
        = f.hidden_field :chapter_id
      .el-cont
        = f.input :postal_code , :input_html => {:class => "input-b size-text-event-create"} , :placeholder => "Postal code", :label => false
      .el-cont
        = f.text_field :attendees_count , :class => "input-b size-text-event-create", :placeholder => "Attendees Count", :label => false
  .event-form{:style => "padding-top:10px; padding-bottom: 20px;"}

    .el-cont
      = f.text_area :description , :class => "input-b size-f" , :placeholder => "Event description", :style => "height: 40px;margin:5px 0px;", :label => false
    #spinner.spinner{:style => 'display:none;margin-right:10px;float:right;'}
      %img{:src => "/assets/spinner.gif", :alt => "Loading" , :id => 'img-spinner'}/
    #options{:style => "width:628px; overflow: hidden;"}
      %button.btn-a-small.flt-right{:style => "margin-right:10px;", :id=>"event_form_submit"} CREATE
      /%button.btn-c-small.flt-right{:style => "margin-right:10px;"} DISCARD


:javascript
  $(document).ready(function(){

    $('#new_event').validate({
      rules: {
        "event[event_start_date]": {
          required: true
        },
        "event[event_start_time]": {
          required: true
        },
        "event[event_end_date]": {
          required: true
        },
        "event[event_end_time]":{
          required: true
        },
        "event[title]":{
          required: true
        },
        "event[attendees_count]":{
          digits: true
        }
        ,
        "event[postal_code]":{
          required: true,
          eventPostalCode:true
        }
      }
    });
    //$("#image_upload_link").on("click",function(event){
    //  event.preventDefault();
    //  $("#event_image").trigger("click");
      //$("#image_upload_link").text("Image Uploaded...100%");
    //});
    $("#event_form_submit").live("click",function(){
      //var form =  $(this).attr("rel");
      if($(form).valid()){
          $.blockUI();
          //$.unblockUI();
      };
    });

  });
  $(function(){
  var today = new Date();
    $( "#event_event_start_date" ).datepicker({
        minDate: 0,
        dateFormat: "dd/mm/yy",
        onSelect: function(selectedDate){
          //$("input#event_event_start_date").siblings("label").hide();
        },
        onClose: function( selectedDate ) {
            $( "#event_event_end_date" ).datepicker( "option", "minDate", selectedDate );
           if(selectedDate ==  $.datepicker.formatDate( "dd/mm/yy", today))
           {
             // here will skip some time values for the current date
             $("#event_event_start_time").timepicker( "option", "minTime", today.toTimeString());
           }
           else
          {
            $("#event_event_start_time").timepicker( "option", "minTime", new Date(0, 0, 0, 8, 0, 0) );
            //$("#event_event_start_time").siblings("label").hide();
          }
        }
    });

    $( "#event_event_end_date" ).datepicker({
        dateFormat: "dd/mm/yy",
        onSelect: function(selectedDate){
          //$("input#event_event_end_date").siblings("label").hide();
        },
        onClose: function( selectedDate ) {
            $( "#event_event_start_date" ).datepicker( "option", "maxDate", selectedDate );
            if(selectedDate ==  $.datepicker.formatDate( "dd/mm/yy", today))
             {
               // here will skip some time values for the current date
               $("#event_event_end_time").timepicker( "option", "minTime", today.toTimeString() );
             }
             else
             {
               $("#event_event_end_time").timepicker( "option", "minTime", new Date(0, 0, 0, 8, 0, 0) );
             }
        }
    });


    $('input.timepicker').timepicker({
      timeFormat: 'hh:mm p',
      minTime: new Date(0, 0, 0, 8, 0, 0),
      interval: 15
    });

    jQuery.validator.addMethod("eventPostalCode", function(value, element) {
      var re = new RegExp(/^[0-9A-Za-z ]+$/);
      return (value.match(re))
    }, "Must be a valid postal code.");



    $('#event_event_start_date').dblclick(function(e){
      e.preventDefault();
    })


    //$('#event_event_start_time').timepicker()
    //    .option('change', function(time) {
    //        // update startTime option in timepicker-2
    //        $('#event_event_end_time').timepicker('option', 'startTime', time);
    //});
  })