-#= javascript_include_tag "jquery.uploadify"
= javascript_include_tag "uploadifive"
= javascript_include_tag "jquery.validate"
= stylesheet_link_tag "uploadify", :media => "all"
-#= stylesheet_link_tag "event", :media => "all"

-if !current_user.blank? and !@event.is_past_event? and ((current_user.id == @event.created_by) or @event.can_i_register?(@current_user.id, @event.chapter_id))
  =link_to "On the spot registration",on_the_spot_registration_event_path(@event),:class => "onSpotReg change_status" ,:method => "get"
%li.ulg-expanded{:style => "margin-top: -3px;"}
  .div-c
    -if @event.image.present?
      = image_tag(@event.image, :style => "width:72px;height:80px")
    -else
      -if(!@event.event_start_date.blank?)
        %h1.label-23 #{Time.parse(@event.event_start_date.to_s).strftime('%d')}
        %h4.label-24 #{Time.parse(@event.event_start_date.to_s).strftime('%b')}

  .div-h
    %a.label-9.event_expand{:href => "#", :event_id=> @event.id,:id => "event_title"} #{@event.title}
    .clr

    -#-if !current_user.blank? and @profile_page != true  and !@event.am_i_member?(@current_user.id)
      %button.btn-a-small.flt-right{:id=>"follow_an_event", :event_id => "#{@event.id}"} FOLLOW
    -if !@event.is_past_event?
      -if !current_user.blank? and  (current_user.id != @event.created_by)
        -if @event.is_cancelled?
          %button.btn-a-small.flt-right{:id=>"cancelled_event", :event_id => "#{@event.id}" ,:disable => true,:style => "opacity:0.35"} CANCELLED
        -else
          -if !@event.am_i_member?(current_user.id) and @event.is_rsvp_allowed?
            - if ChapterMember.am_i_blocked(@event.chapter_id,current_user.id)
              %button.btn-a-small.customBtn{:href => "#"} BLOCKED!
            -else
              %button.btn-a-small.flt-left.rsvp_me{:id=>"follow_an_event", :event_id => "#{@event.id}"} R.S.V.P
            -#%img.flt-right#rsvp_tick{:src => "/assets/Event.png",:style => "display:none"}
            %button.btn-a-small.flt-left{:id=>"event_rsvped",:event_id => "#{@event.id}",:class => "rsvp_tick",:style => "display:none;opacity:1"} undo R.S.V.P
          -elsif !@event.am_i_member?(current_user.id) and !@event.is_rsvp_allowed?
            %button.btn-a-small.flt-left{:id=>"join_wait_list"} Limit Reached!
          -if @event.am_i_member?(current_user.id)
            -#%img.flt-right{:src => "/assets/Event.png"}
            %button.btn-a-small.flt-left{:id=>"event_rsvped",:event_id => "#{@event.id}",:style => "opacity:1"} undo R.S.V.P

    %div.clr
    %div.label-26{:id => "short_content"}
      %div.dateAttendees
        %div
          -if(!@event.event_start_date.blank?)
            -if(@event.event_start_date == @event.event_end_date)
              %b.darkText From:
              #{Time.parse(@event.event_start_time_in_time.to_s).strftime('%I:%M %p')}&nbsp&nbsp&nbsp
              %b.darkText To:
              #{Time.parse(@event.event_end_time_in_time.to_s).strftime('%I:%M %p')} , #{Date.parse(@event.event_start_date_in_date.to_s).strftime('%A %b %d, %Y')}
            -else
              %b.darkText From:
              #{Time.parse(@event.event_start_time_in_time.to_s).strftime('%I:%M %p')} #{Date.parse(@event.event_start_date_in_date.to_s).strftime('%A %b %d, %Y')}&nbsp&nbsp&nbsp
              %b.darkText To:
              #{Time.parse(@event.event_end_time_in_time.to_s).strftime('%I:%M %p')} #{Date.parse(@event.event_end_date_in_date.to_s).strftime('%A %b %d, %Y')}

        .clr
        %div.location.caDate
          %div.title
            %span.darkText
              Location:
              %span
                = get_event_address(@event)
      %div.description.customDescription
        %span.darkText
          Description
          %span
            = @event.description
      -#=image_tag(@event.image,:size => "60x60")
  %div.clr
    -##gallery_images
      = link_to "See all images",show_all_event_images_event_path(@event)
      -#= render  "events/image_gallery_upload"
  -#-if(current_user.present?)
    -if((current_user.id == @event.created_by or @event.can_i_delete?(@current_user.id, @event.chapter_id)) and !@event.is_cancelled?)
      %input#Uploadify{:name => "Uploadify", :type => "file"}
  %div.clr
    #gallery_media
      %h4 Event Media Gallery
      %a.eventImages.galleryBox{:href=>"#{show_all_event_images_event_path(@event)}"}
        -if @event.event_galleries.present?
          = image_tag(@all_event_images.first.image,:size => "150x150")
        -else
          %img{:src=>"/assets/upload_img.jpg"}
        %p See all images
      %a.eventVideos.galleryBox{:href=>"#{event_event_medias_path(@event)}"}
        -if @event.event_medias.videos.present?
          - media = @event.event_medias.videos.first
          = image_tag("http://i2.ytimg.com/vi/#{media.url.split("?v=").last}/default.jpg",:size => "150x150")
        -else
          %img{:src=>"/assets/link_upload.jpg"}
        %p See all videos
      %a.eventSlides.galleryBox{:href=>"#{event_slides_event_event_medias_path(@event)}"}
        -if @event.event_medias.slides.present?
          = image_tag(@event.event_medias.slides.first.slideshow_image,:size => "150x150")
        -else
          %img{:src=>"/assets/img-e.png"}
        %p See all slides
      .clr
      -#%p.label-9 Event Images
      -#= link_to "See all images",show_all_event_images_event_path(@event)
      -#%p.label-9 Event Videos
      -#= link_to "See all Videos", event_event_medias_path(@event)
      -#%p.label-9 Event Slides
      -#= link_to "See all Slides", event_slides_event_event_medias_path(@event)
  -if !@current_user.present?
    -if @event.agenda_and_speakers.present?
      = render '/events/agenda_and_speakers'
  - else
    - if @event.can_i_delete?(@current_user.id, @event.chapter_id)
      = render '/events/agenda_and_speakers'
    -elsif @event.agenda_and_speakers.present?
      = render '/events/agenda_and_speakers'
  .div-d.customComments.addNewComment
    - (@event.comments || []).each do |comment|
      =render "comment",:comment => comment
    - @comment =  @event.comments.build
  -if @current_user.present? && !ChapterMember.am_i_blocked(@event.chapter_id,@current_user.id)
    = semantic_form_for  @comment,:url => create_event_comment_events_path,:method => :post, :remote => true do |f|
      .add_a_new_comment.customComments
        = f.text_area :content, :placeholder => "comment", :label => false, :class => " content_comment_class ta-a"
      = f.hidden_field   :commentable_type
      = f.hidden_field   :commentable_id
      = f.submit "Add Comment" ,:class=>"btn-a-small flt-right", :style => "margin-right:10px;",:disable_with=> "Adding..........."
  %br
-if @current_user.present? and @event.can_i_delete?(@current_user.id, @event.chapter_id)
  -#.attendeesEmailList.clr
  -#  %p.label-9{:href => '#', :style=>"font-size:20px;", :id=>"attendees_list"}
  -#    Attendees List
  -#  = text_area_tag 'attendes_emails', @emails, :style => "width:940px;padding-top:4px;", :readonly => 'readonly'
  -#  = link_to "Download list",download_list_event_path(@event) ,:class=>"btn-a-small flt-right"
  .attendees.caListAttendees
    .attendeesHeading
      %strong
        LIST OF ATTENDEES &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        %div
          -#%a{:href => "#{download_list_event_path(@event)}"} (Download CSV)
          = link_to "(Download CSV)",download_list_event_path(@event)
      %div.mCount
        #{@event.event_members.size}
    %ul.attendeesList
      -@members.each do |i|
        %li
          .imageHolder
            = avatar_display_pic(i,'thumb', '30x30','profile.png',"profile-img img-a flt-left")
          .nameHolder
            = link_to i.fullname,profile_info_user_path(i), :class => "label-my"
          .clr
  .inviteViaEmails
    #invitationForm
      <strong>Invite Friends</strong>
      = form_tag :class => "new_email" do
        = text_area_tag "email",nil, :class => 'email',:placeholder => "Enter Friend's email"
        = submit_tag 'Invites', :class => "multiple_email"

- session_key = Rails.application.config.session_options[:key]

= content_for :scripts do
  :javascript
    Events.init();
    $(document).ready(function(e){
    //$("#new_comment").removeClass("comment");
    $('#new_comment').validate({
      rules: {
        "comment[content]": {
          required: true
        }
      }
    });
      var uploadify_script_data = {};
      var csrf_token = $('meta[name=csrf-token]').attr('content');
      var csrf_param = $('meta[name=csrf-param]').attr('content');
      //uploadify_script_data['_http_accept'] = 'application/javascript';
      //uploadify_script_data[csrf_param] = csrf_token;
      uploadify_script_data[csrf_token] =  encodeURI(encodeURI(csrf_param));
      uploadify_script_data['#{session_key}'] = '#{cookies[session_key]}'
      //var url = $('input#photo_image').attr('rel');
      var event_id = $("#event_title").attr("event_id");

      var token = encodeURI(encodeURI("#{CGI::escape form_authenticity_token}"));
      var url = "/events/"+ event_id +"/image_gallery_upload" + "?authentication_token="+token;

      $('input#Uploadify').uploadifive({
        buttonText     :'Upload Images',
        buttonClass    :'uploadify-button-custom',
        'uploadScript' : url,
        formData       : 'photo[image]',
        fileExt        : '*.png;*.jpg;*.gif',
        multi          : true,
        auto           : true,
       'scriptData'    : uploadify_script_data,
        onUploadComplete     : function(e) {
          $.get(url,{},function(data){
          },"script");
          //$('#gallery_images').append(response);
        },
        scriptData:{
         '#{session_key}' : encodeURIComponent('#{u cookies[session_key]}'),
         'authenticity_token': encodeURIComponent('#{u form_authenticity_token}')
       }
      });
      $(".rsvp_me").on("click",function(){
        alert("Hello");
        $(".rsvp_me").hide();
        $(".rsvp_tick").show();
      });

     $(".rsvp_tick").on("click",function(){
          alert("Hello");
          $(".rsvp_me").show();
          $(".rsvp_me").css("opacity",1);
          $(".rsvp_me").text("R.S.V.P");
          $(".rsvp_tick").hide();
     });





    });

:javascript
  $(document).ready(function(){

    //$('#invitationForm').hide();
    $('.inviteFriend').on("click",function(event){
      event.preventDefault();
      $('#invitationForm').toggle();
    });



    $(".multiple_email").on("click",function(event){
      var value = $(".email").val();
      var validity = $(validateMultipleEmailsCommaSeparated(value));
      if(validity["selector"]=="false"){
        event.preventDefault();
        $(".inviteFriend").append('<div id="error">please enter valid email address</div>');
      }
    });

    function validateMultipleEmailsCommaSeparated(value){

      var comma = value.split(/\s*[,;]\s*|\s{1,}|[\r\n]+/).join(",");
      //alert(comma);
      //var array = comma.replace(/,(?=[^,]*$)/, '')
      //alert(array)
      var result = comma.split(",");
      console.log("aaaaaaaaaaaaaaa");
      var regex=/\b[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b/i;
      for (var i = 0;i < result.length;i++){
        if(regex.test(result[i])){
          return "true";
        }
        else{
          //alert("false");
          //$(".inviteFriend").append('<div id="error">please enter valid email address</div>');
          return "false";
        }

      }
    }


  });

