= javascript_include_tag "jquery.colorbox-min"
= stylesheet_link_tag    "colorbox", :media => "all"
.picHolder{:id => "image_gallery",:style =>"width:500px;" }
  -if @all_event_images.present?
    - @all_event_images.limit(5).each do |i|
      .eventImageHolder
        = link_to(image_tag(i.image),"#{i.image}")
    .clr
    .seeAllImages
      = link_to "See all images",show_all_event_images_event_path(@all_event_images.first.event_id)

  -else
    = "No Image for the event."

.clr

:javascript
  $(document).ready(function(){
    $(".eventImageHolder a").colorbox({rel:'group1'});
  });