
-#%h1
-#%div.attendees
  .attendeesHeading
    %strong LIST OF ATTENDEES &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    %div.mCount
      -if @event.id ==2
        37
      -else
        #{@event.event_members.size}
  %ul.attendeesList
    -if @event.id ==2
      -@members.each do |i|
        %li
          .imageHolder
            = avatar_display_pic(i,'thumb', '30x30','profile.png',"profile-img img-a flt-left")
          .nameHolder
            = i.fullname
          .clr
      = link_to "See more","",:class => "all_attendees",:style => "color:#0097D7;float:right;margin-top:10px;"
    -else
      -@members.each do |i|
        %li
          .imageHolder
            = avatar_display_pic(i,'thumb', '30x30','profile.png',"profile-img img-a flt-left")
          .nameHolder
            = i.fullname
          .clr


.eventPeopleList#memberList
  .listHeader
    %span list of attendees
    -#-if @event.id ==2
    -#  %span.numberOfPeople 37
    -#-else
    %span.numberOfPeople #{@event.event_members.size}
    -#%span.numberOfPeople 06
  %ul.clearfix.listOfAttendees
    -@event.event_members.each do |i|
      %li
        -#%img{:src => "/assets/human_face_4.jpg"}
        = avatar_display_pic(i.user,'thumb', '40x40','profile.png',"profile-img img-a flt-left")
        .personDetails
          .personName #{i.user.fullname}

      -#%a{:href => "#"} View more