
-#%h1
.inviteViaEmails
  #invitation
    <strong>Invite Friends</strong>
    = form_tag :class => "new_email" do
      = text_area_tag "email",nil, :class => 'email',:placeholder => "Enter Friend's email"
      = submit_tag 'Invites', :class => "multiple_email"
  .clr
.attendees
  .attendeesHeading
    %strong LIST OF ATTENDEES &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    %div.mCount
      #{@event.event_members.size}
  %ul.attendeesList
    -@members.each do |i|
      %li
        .imageHolder
          = avatar_display_pic(i,'thumb', '30x30','profile.png',"profile-img img-a flt-left")
        .nameHolder
          = link_to i.fullname, profile_info_user_path(i)

