-if  @profile_page == true
  = render "shared/profile_tab_header", :chapter => @chapter, :selected => :event

#events
  - if @upcoming_events.blank? && @past_events.blank?
    .marg-top
      %h1.label-44{:style=> "font-size:18px;"}
        = t("events.no_events")

  -if !@upcoming_events.blank?
    .marg-top
      %h1.label-44{:style=> "font-size:18px;"}
        = t('events.upcoming_events')

    %ul.ul-g{:style => "margin-top:-20px;" ,:id=>"two_events"}
      - @two_upcoming_events.each do |event|    
        =  render 'events/event_entry', :event => event, :description => :short

    %ul.ul-g{:style => "margin-top:-20px;display:none" ,:id=>"all_events"}
      - @upcoming_events.each do |event|
        = render 'events/event_entry', :event => event, :description => :full

    -if @upcoming_events.size > 2
      %ul
        %li.flt-right{:style => "margin-top:10px;"}
          %a.label-27{:href => "#" ,:id=>"upcoming_events"}
            = t("events.see_all_upcoming_events")

  #past_events
    = render "events/past_events"

:javascript 
  Chapters.init(); 
  Events.init();
  Posts.init();




