$('#options').show();
$('#spinner').hide();
-if @event.errors.blank?
  $("#events").html("#{escape_javascript render(:partial => 'chapters/chapter_admin_home_page')}");
  $('.success_msg').show();
  $('.success_msg').fadeOut(5000);
-else
  $('.event_error_msg').show();
  - flash[:error].each do |key, error|
    $('.event_error_msg').append('#{error[0]}<br/><br/>');
  $('.event_error_msg').fadeOut(10000,function(){$(".event_error_msg").html("");$("#event_form_submit").css("opacity",1);$("#event_form_submit").attr("disabled",false);$("#event_form_submit").text("CREATE");});
  -#$("#event_form_submit").css("opacity",1);
  -#$("#event_form_submit").attr("disabled",false);
  -#$("#event_form_submit").text("CREATE");

  -#$("#event_content li.inline-errors").html("&nbsp;");
  -#- @event.errors.messages.each do |attribute, errors|
  -#  - msg= ''
  -#  -errors.each do |e|
  -#    -msg= msg+ e
  -#  $(".event_#{attribute}").html("#{msg.to_s}");
-#
-#- flash[:error].keys.sort.each do |error|
-#  $(".event_error_msg").html("#{escape_javascript(error)}");
-#  $(".event_error_msg").show(300);
