-#%h1 Edit chapter

= javascript_include_tag "jquery.validate"
%div.content.wrapper
  = form_for @event ,:url => chapter_event_path(params[:chapter_id],params[:id]),:method => :put do |f|
    .event-form
      .event-left{:style => "width:100%;"}
        .el-cont{:style => "margin-bottom: 16px;"}
          %h2.label-45.flt-left 
            = "#{t("events.edit_event_for")}#{@event.chapter.try(:name)}"
      .event-left{:style => "width:610px;"}
        .el-cont.createEventField
          %label.label-26.eventTitle
            = Event.human_attribute_name(:title)
          .eventTitleEditLbl
            = f.text_field :title , :class => "input-b size-f",:placeholder => "Event Title"
        -#.error{:class => "el-cont"}
          %li{:style => "float:left;", :class => "inline-errors event_title"} &nbsp;
        .el-cont.createEventField
          %label.flt-left.label-26
            = Event.human_attribute_name(:start_time)
          %li{:id => :event_event_start_date_input }
            = f.text_field :start_time , :class => "input-b size-b size-of-inputs event_date"
        .el-cont.createEventField
          %label.flt-left.label-26
            = Event.human_attribute_name(:end_time)
          %li{:id => :event_event_end_date_input }
            = f.text_field :end_time, :class => "input-b size-b size-of-inputs event_date"
      .event-bottom
    .event-form
      .event-right
        .el-cont
          %h5.label-26.flt-left
            = t("event_form.event_location")
        .el-cont
        .el-cont{:style => "margin-bottom:2px;"}
          = @event.chapter.location
        .el-cont
          = f.text_field :address_line1, :class => "input-b size-text-event-create",:placeholder => Event.human_attribute_name(:address_line1)
        .el-cont
          = f.text_field :address_line2 , :class => "input-b size-text-event-create",:placeholder => Event.human_attribute_name(:address_line2)
        .el-cont
          = f.text_field :postal_code , :class => "input-b size-text-event-create",:placeholder => Event.human_attribute_name(:postal_code)
        .el-cont
          = f.text_field :attendees_count , :class => "input-b size-text-event-create", :placeholder => Event.human_attribute_name(:attendees_count)
    .event-form{:style => "padding-top:10px; padding-bottom: 20px;"}
      .el-cont
        = f.text_area :description , :class => "input-b size-f" , :placeholder => Event.human_attribute_name(:description), :style => "height: 40px;margin:5px 0px;"
      .el-cont
        = f.text_area :resources_request, :class => "input-b size-f" , :placeholder => Event.human_attribute_name(:resources_request), :style => "height: 40px;margin:5px 0px;"
      #spinner.spinner{:style => 'display:none;margin-right:10px;float:right;'}
        %img{:src => "/assets/spinner.gif", :alt => "Loading" , :id => 'img-spinner'}/
      #options{:style => "width:628px; overflow: hidden;"}
        %button.btn-a-small.flt-right{:style => "margin-right:10px;", :id=>"event_form_submit"}
          = t("button.update")

:javascript
  $(document).ready(function(){
    $('.edit_event').submit(function(event){
      if($(this).valid()){
        $("#event_form_submit").css("opacity",0.35);
        $("#event_form_submit").attr("disabled","disabled");
        $("#event_form_submit").text("UPDATING...");
      };
    });
    $("#event_event_start_time").on("click",function(){
      $("#event_form_submit").css("opacity",1);
      $("#event_form_submit").attr("disabled",false);
      $("#event_form_submit").text("UPDATE");
    });
    $("#event_event_end_time").on("click",function(){
      $("#event_form_submit").css("opacity",1);
      $("#event_form_submit").attr("disabled",false);
      $("#event_form_submit").text("UPDATE");
    });
    $("#event_event_start_date").on("click",function(){
      $("#event_form_submit").css("opacity",1);
      $("#event_form_submit").attr("disabled",false);
      $("#event_form_submit").text("UPDATE");
    });
    $("#event_event_end_date").on("click",function(){
      $("#event_form_submit").css("opacity",1);
      $("#event_form_submit").attr("disabled",false);
      $("#event_form_submit").text("UPDATE");
    });

    //$("#image_upload_link").on("click",function(event){
    //  event.preventDefault();
    //  $("#event_image").trigger("click");
      //$("#image_upload_link").text("Image Uploaded...100%");
    //});
    $("#event_form_submit").on("click",function(event){
    if ($("#event_attendees_count").val() != "")
    {
      if(parseInt($("#event_attendees_count").val()) < $("#event_address_line1").attr("event_member")){
        alert($("#event_address_line1").attr("event_member")+" member(s) already attending, can not decrease than "+$("#event_address_line1").attr("event_member"));
        event.preventDefault();
      }
    }
    });
  });
  $(function(){
    var today = new Date();
      $( "#event_event_start_date" ).datepicker({
          minDate: 0,
          dateFormat: "dd/mm/yy",
          onClose: function( selectedDate ) {
              $( "#event_event_end_date" ).datepicker( "option", "minDate", selectedDate );
             if(selectedDate ==  $.datepicker.formatDate( "dd/mm/yy", today))
             {
               // here will skip some time values for the current date
               $( "#event_event_start_time" ).timepicker( "option", "minTime", today.toTimeString() );

             }
             else
            {
              $( "#event_event_start_time" ).timepicker( "option", "minTime", new Date(0, 0, 0, 8, 0, 0) );
            }
          }
      });
      $( "#event_event_end_date" ).datepicker({
          minDate : new Date,
          dateFormat: "dd/mm/yy",
          onClose: function( selectedDate ) {
              $( "#event_event_start_date" ).datepicker( "option", "maxDate", selectedDate );
              if(selectedDate ==  $.datepicker.formatDate( "dd/mm/yy", today))
               {
                 // here will skip some time values for the current date
                 $( "#event_event_end_time" ).timepicker( "option", "minTime", today.toTimeString() );

               }
               else
               {
                 $( "#event_event_end_time" ).timepicker( "option", "minTime", new Date(0, 0, 0, 8, 0, 0) );
               }
          }
      });

      $('input.timepicker').timepicker({
          timeFormat: 'hh:mm p',
          minTime: new Date(0, 0, 0, 8, 0, 0),
          interval: 15,
      });

       //var postal_code= new LiveValidation("event_postal_code",{validMessage:" ",onlyOnSubmit:true});
       //postal_code.add( Validate.Numericality ,{ onlyInteger: true },{maximum: 2000,failureMessage:"Should be Postal code"});
      //var postal_code =   new LiveValidation("event_postal_code",{validMessage:" ",onlyOnSubmit:true});
      //postal_code.add( Validate.Format , { pattern: /^[0-9]{5}$|^[0-9]{6}$/, failureMessage: "Must be a valid postal code" });

      //$('#event_event_start_time').timepicker()
      //    .option('change', function(time) {
      //        // update startTime option in timepicker-2
      //        $('#event_event_end_time').timepicker('option', 'startTime', time);
      //});

      jQuery.validator.addMethod("eventPostalCode", function(value, element) {
         var re = new RegExp(/^[0-9A-Za-z ]+$/);
         return (value.match(re))
       }, "Must be a valid postal code.");

    })




