= javascript_include_tag "jquery.timepicker.min"
= javascript_include_tag "jquery.ui.datepicker"
= javascript_include_tag "jquery-ui"
= javascript_include_tag "jquery.selectbox-0.2.min"
= javascript_include_tag "jquery.validate"
= javascript_include_tag "saturn"
= stylesheet_link_tag    "jquery.selectbox", :media => "all"
:javascript
  $(function() {


  });
.content
  .loginContent.signUpWrapper
    .row
      .span10.offset1
        .loginLayout.clearfix
          .plainBlueHeader
            %h3 Congratulation!
          .agendaHeader
            %p
              Your Event is created,
              %br Now add agenda & speakers to event.
          .borderWithShadow
          .formBox
            -#%form.form-horizontal
            .control-group
              .controls
                %h5 Enter Event Agenda
            .agendaDiv
              -#.agendaBox.clearfix
              -#  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam est dui, laoreet et malesuada sit amet, ultricies eu nisi. Sed condimentum malesuada ante.
              -#  .editDeleteBtn
              -#    %a.editIcon{:href => '#'}
              -#    %a.deleteThikIcon{:href => '#'}
              - if @existing_agenda.present?
                -@existing_agenda.each do |agenda|
                  = render "append_agenda",:description => agenda.description,:agenda_id => agenda.id
            / .agendaAddDivBtn
            /   .control-group
            /     .controls
            /       %button.bigButton.blueBtn
            /         %i.plusIcon
            /         %span Add Session to Agenda
            = form_for(@agenda ,:url => create_agenda_event_path(@agenda.event),:method => "POST",:remote => true, :html=>{:class => "form-horizontal"}) do |f|
              .agendaAddDiv
                .control-group
                  %label.control-label
                    Event Session Detail
                  .controls
                    -#%textarea
                    = f.text_area :description
                .control-group
                  .controls
                    -#%button.blueBtn Done
                    = f.submit "Done", :class=>"blueBtn done"
          .formBox
            %form.form-horizontal
              .control-group
                .controls
                  %h5 Add Speaker Details
              = render "add_existing_members", :event=> @event.id
          .formBox
            = render "add_new_speakers", :event => @event.id
          .formBox.borderNone
            .form-horizontal
              .control-group
                .controls
                  / %button.btn Skip & Add later
                  / %button.orangeBtn Create Event
                  =link_to "Continue", event_path(@event), :class=> "orangeBtn btn" 
:javascript
  $(document).ready(function(){

    $('#new_agenda').validate({
      rules: {
        "agenda[description]": {
          required: true,
          maxlength: 250
        }
      }
    });

    $(document).on("click", ".edit_agenda",function(){
      var that = $(this);
      var thatParent = that.closest(".agendaBox");
      that.closest(".agendaPara").hide();
      var id = that.attr('rel')
      var desc = $("#desc_"+id).text();
      thatParent.append("<textarea class='editDesc'></textarea>")
      //thatParent.append('<textarea id='+id+'></textarea>')
      thatParent.children(".editDesc").text(desc);
      var btn = document.createElement('button');
      $(btn).addClass('updateDesc orangeBtn')
            .html('Update')
            .attr('rel',id)
            .appendTo(that.closest(".agendaBox"))
            .on('click',function(){
               var data = {description:thatParent.children(".editDesc").val(),agenda_id:$(this).attr("rel")};
               var url = '/events/update_agenda';
               $.ajax({
                 type: "post",
                 url: '/events/update_agenda',
                 data : {agenda:data},
                 dataType: 'script',
                 success: function(data){
                   that.closest(".agendaPara").children("p").text(thatParent.children(".editDesc").val());
                   thatParent.children(".editDesc").remove();
                   thatParent.children(".updateDesc").remove();
                   thatParent.children(".agendaPara").show();
                 },
                 async:false
               });
            });
    });

    $(document).on("click", ".deleteEventAgenda", function(){
      if (confirm("Are You Sure?")){
      var that = $(this);
      $.ajax({
        type: "POST",
        url: "/events/agenda_delete",
        data: {agenda_id: that.attr("rel")},
        dataType: "script",
        success: function(data){
          that.closest(".agendaBox").remove();
        }
      });
      }
    });

    $(document).on("click", ".closeTileIcon", function(){
      if (confirm("Are You Sure?")){
      var that = $(this);
      $.ajax({
        type: "POST",
        url: "/events/" + $("#formid").val() + "/speaker_delete",
        data: {speaker_id: that.closest("li").find("input:hidden").val()},
        dataType: "script",
        success: function(data){
          that.closest("li").remove();
        }
      });
      }
      return false;
    });

  });
