= javascript_include_tag "jquery.validate"
.content.wrapper
  .clr
  #attendeesForm
    %span.LV_invalid
    %span.LV_valid
    = form_for(@user ,:url => create_on_spot_user_event_path(@event),:method => :post, :remote=>true) do |f|
      .event-form
        %input#eventId{:value=>"#{@event.id}",:type=>"hidden"}
        .event-left{:style => "width:100%;"}
          .el-cont.createEventField{:style => "margin-bottom: 16px; padding-left: 140px;"}
            %h2.label-45.flt-left Registration Form
        .event-left{:style => "width:570px;"}
          .el-cont.createEventField
            %label.label-26.eventTitle
              Name
              %span.asterix *
            = f.text_field :fullname , :class => "input-b size-f newUserName"
          .el-cont.createEventField
            %label.label-26.eventTitle
              Email
              %span.asterix *
            = f.text_field :email ,  :class => "input-b size-f newUserEmail"
          .el-cont.createEventField
            %label.label-26.eventTitle  Location
            = f.text_field :location ,  :class => "input-b size-f "
          .el-cont.createEventField
            %label.label-26.eventTitle  Mobile
            = f.text_field :mobile ,  :class => "input-b size-f"
          .el-cont.createEventField
            %label.label-26.eventTitle  Twitter
            = f.text_field :twitter_url ,  :class => "input-b size-f "
          .el-cont.createEventField
            %label.label-26.eventTitle  LinkedIn
            = f.text_field :linkedin_url ,  :class => "input-b size-f "
          .e1-cont.createEventField
            = f.submit "Add User",:class => "btn-a-small addBtnReg",:disable_with=> "adding..."
            = link_to "Cancel", event_path(@event) ,:method => "get",:class => "btn-a-small"
  #attendeesBlock
    =render "attendees", :members => @members
:javascript
  $(document).ready(function(){
    $('#new_user').validate({
      rules: {
        "user[fullname]": {
          required: true
        },
        "user[email]": {
          required: true,
          email: true
        },
        "user[mobile]":{
          digits: true
        }
      }
    });

    $('#new_user').submit(function(event){
      if($(this).valid()){
        $("#event_user_add").text("adding...");
        //$("#event_user_add").css("opacity",0.35);
        $("#event_user_add").attr("disabled","disabled");
      };
    });
    $('.newUserEmail').val("");
    $('.newUserName').focus();
    $(".LV_valid").fadeOut(5000,"swing","")
    $(".LV_invalid").fadeOut(5000,"swing","");
  });