= javascript_include_tag "jquery.validate"
.content.wrapper
  .clr
    #attrendeesForm
      %span.LV_invalid
      %span.LV_valid
      = form_for(@user ,:url => create_on_spot_user_event_path(@event),:method => :post) do |f|
        .event-form
          .event-left{:style => "width:100%;"}
            .el-cont{:style => "margin-bottom: 16px;"}
              %h2.label-45.flt-left Registration Form
          .event-left{:style => "width:570px;"}
            .el-cont.createEventField
              %label.label-26.eventTitle  Name
              = f.text_field :fullname , :class => "input-b size-f flt-left newUserName" , :placeholder => "Name *"
            .el-cont.createEventField
              %label.label-26.eventTitle  Email
              = f.text_field :email ,  :class => "input-b size-f flt-left newUserEmail" , :placeholder => "Email *"
            .el-cont.createEventField
              %label.label-26.eventTitle  Location
              = f.text_field :location ,  :class => "input-b size-f flt-left" , :placeholder => "Location"
            .el-cont.createEventField
              %label.label-26.eventTitle  Mobile
              = f.text_field :mobile ,  :class => "input-b size-f flt-left" , :placeholder => "Mobile No."
            .el-cont.createEventField
              %label.label-26.eventTitle  Twitter
              = f.text_field :twitter_url ,  :class => "input-b size-f flt-left" , :placeholder => "Twitter"
            .el-cont.createEventField
              %label.label-26.eventTitle  LinkedIn
              = f.text_field :linkedin_url ,  :class => "input-b size-f flt-left" , :placeholder => "LinkedIn"
          = f.submit "Add User",:class => "btn-a-small addBtnReg",:disable_with=> "adding..."
          = link_to "Cancel",on_the_spot_registration_event_path(@event),:method => "get",:class => "btn-a-small"
    #attendeesBlock
      =render "attendees"
:javascript
  $(document).ready(function(){
    $('#new_user').validate({
      rules: {
        "user[fullname]": {
          required: true
        },
        "user[email]": {
          required: true,
          email: true
        },
        "user[mobile]":{
          digits: true
        }
      }
    });

    $('#new_user').submit(function(event){
      if($(this).valid()){
        $("#event_user_add").text("adding...");
        //$("#event_user_add").css("opacity",0.35);
        $("#event_user_add").attr("disabled","disabled");
      };
    });
    $('.newUserEmail').val("");
    $('.newUserName').focus();
    $(".LV_valid").fadeOut(5000,"swing","")
    $(".LV_invalid").fadeOut(5000,"swing","");
  });