= javascript_include_tag "jquery.colorbox-min"
= stylesheet_link_tag    "colorbox", :media => "all"

%div.content.wrapper
  %h1.label-17{:style => "padding-bottom:30px;"}
    = @event.title
  -if @all_event_images.present?
    -#=form_tag delete_event_gallery_image_event_path(@event),:method => :delete,:remote => true do
    - @all_event_images.each do |i|
      .eventImageHolder.checkboxImgHolder.showAllImg{:id => "#{i.id}_imgHolder"}
        = check_box_tag "event_gallery_ids[]",i.id if current_user.present? && ChapterMember.is_primary_coordinator?(current_user.id)
        - if current_user.present? && ChapterMember.is_primary_coordinator?(current_user.id)
          -#%span{:class => "eventGalleryImageClose",:id => "#{i.id}",:rel => "#{@event.id}" }
        = link_to(image_tag(i.image),"#{i.image}")
    .clr
      -#= submit_tag 'DELETE' , :class => "btn-a join_us",:id => "deleteImagesBtn"
      - if current_user.present? && ChapterMember.is_primary_coordinator?(current_user.id)
        %button.btn-a{:id => "deleteImagesBtn",:rel => "#{@event.id}"} DELETE



:javascript
  $(document).ready(function(){
    $(".eventImageHolder a").colorbox({rel:'group1'});
  });