= javascript_include_tag "jquery"
= stylesheet_link_tag    "colorbox", :media => "all"

%div.content.wrapper
  %h1.label-17{:style => "padding-bottom:10px;"}
    = @event.title
  -if @all_event_images.present?
    - @all_event_images.each do |i|
      .eventImageHolder
        = link_to(image_tag(i.image),"#{i.image}")

:javascript
  $(document).ready(function(){
    $(".eventImageHolder a").colorbox({rel:'group1'});
  });