= javascript_include_tag "jquery.colorbox-min"
= stylesheet_link_tag    "colorbox", :media => "all"

%div.content.wrapper
  %h1.label-17{:style => "padding-bottom:10px;"}
    = @event.title
  -if @all_event_images.present?
    =form_tag delete_event_gallery_image_event_path(@event),:method => :delete,:remote => true do
      - @all_event_images.each do |i|
        .eventImageHolder.checkboxImgHolder
          = check_box_tag "imageDelete[]",i.id
          %span{:class => "eventGalleryImageClose",:id => "#{i.id}",:rel => "#{@event.id}" }
          = link_to(image_tag(i.image),"#{i.image}")
      = submit_tag 'DELETE' , :class => "btn-a join_us"



:javascript
  $(document).ready(function(){
    $(".eventImageHolder a").colorbox({rel:'group1'});
  });