= javascript_include_tag "jquery.colorbox-min"
= stylesheet_link_tag    "colorbox", :media => "all"

%div.content.loginLayout
  %h1.label-17{:style => "padding-bottom:10px;"}
    = "Event Gallery - " "#{@event.title}"
  -if @all_event_images.present?
    - @all_event_images.each do |i|
      .eventImageHolder
        = link_to(image_tag(i.image),"#{i.image}")
  - else
    %h4{:style => "text-align: center;"}
      ="No image for event yet"

:javascript
  $(document).ready(function(){
    $(".eventImageHolder a").colorbox({rel:'group1'});
  });