= javascript_include_tag "jquery.coda-slider-3.0"
= javascript_include_tag "jquery.vticker-min"
= javascript_include_tag "jquery.mousewheel"
= javascript_include_tag "jquery.contentcarousel"
= javascript_include_tag "jquery.easing.1.3"
= javascript_include_tag "jquery.validate"

-@is_i_admin = false
- if @current_user.present?
  -@is_i_admin = @event.can_i_delete?(@current_user,@event.chapter)

%title Coda Slider 3.0
:javascript
  $(function(){
      /* Here is the slider using default settings */
    $('#slider-id').codaSlider({
      autoSlide:true,
      autoHeight:false
    });
    $('h2.title').hide();
    $('#news-container').vTicker({
      speed: 500,
      pause: 3000,
      animation: 'fade',
      mousePause: false,
      showItems: 3
    });
  });


:javascript
  $(document).ready(function(){
    $(".rsvp_me").css("color","white");
    $(".rsvp_me").on("click",function(){
      //$(".rsvp_me").hide();
      //$("#rsvp_tick").show();
    });

    $('.create_comment').validate({
      rules: {
        "comment[content]": {
          required: true
        }
      },
      errorPlacement:function(error,element){
        error.insertAfter(element).addClass("event_detail_error");
      }
    });



    $("#follow_event").live("click", function(){
      $(".rsvp_me").text("Please Wait...");
      var  current_user =  $(".logged_in_user").attr("rel");
      var event_id = $(".viewEventGallery").attr("rel");
      $.get("/events/"+event_id+"/join_event",{data:current_user},function(){
         $(".rsvp_me").hide();
         $("#rsvp_tick").show();
      },"script");
    });

    $(".less_info").show();
    $(".more_info").hide();
    $(".viewMore").click(function(){
      $(".less_info").hide();
      $(".more_info").show();
    });
    $(".viewLess").click(function(){
      $(".less_info").show();
      $(".more_info").hide();
    });


    $(".less_comments").show();
    $(".more_comments").hide();
    $(".viewMoreComments").click(function(){
      $(".less_comments").hide();
      $(".more_comments").show();
    });
    $(".viewLessComments").click(function(){
      $(".less_comments").show();
      $(".more_comments").hide();
    });


  });

  $(function() {
    window.google.identitytoolkit.setConfig({
        developerKey: "#{FEDERATED_KEY}",
        companyName: "cloudfoundry usergroups",
        callbackUrl: "#{verify_user_url()}",
        realm: "",
        userStatusUrl: "/user_status",
        loginUrl: "/login",
        signupUrl: "/sign_up",
        //homeUrl: "/profile",
        homeUrl: "#{session[:url]}",
        logoutUrl: "/logout",
        idps: ["Gmail", "Yahoo"],
        tryFederatedFirst: true,
        useCachedUserStatus: false,
        useContextParam: true
    });
    $("#navbar").accountChooser();

    $('.signup').click(function(){
      $('#navbar').accountChooser('showAccountChooser');
      $(".widget-header h1").text("#{t('menu.signup')}");
      $(".widget-nascar-list h2").text("#{t('menu.signup_with')}");
    });
  });
-#=render :partial => "/shared/new_header"
- if(@is_i_admin == true)
  .content.wrapper
    .content-c
      = render '/events/full_event'
      -if !@current_user.present?
        = render '/events/members_list'
      -if @current_user.present?  and !@event.can_i_delete?(@current_user.id, @event.chapter_id)
        = render '/events/members_list'
      - if !@current_user.present?
        -if @event.agenda_and_speakers.present?
          = render '/events/agenda_and_speakers'
      - else
        - if @event.can_i_delete?(@current_user.id, @event.chapter_id)
          = render '/events/agenda_and_speakers'
        -elsif @event.agenda_and_speakers.present?
          = render '/events/agenda_and_speakers'

- if(@is_i_admin==false)
  .content.eventDetails
    .clearfix
      .breadCrumb
        %span Events
        %span.breadCrumbDivider /
        %span.activePage
          =@event.title
    .blueHeader
      .tag
        %img{:src => "/assets/student_event_header_tag.png"}
      .chapterName.clearfix
        %h1
          =@event.title
      .chapterDateAndPlace.clearfix
        %span.chapterDate #{@event.event_start_date_in_date.strftime("%b %d, %Y")}
        %span.chapterPlace #{@event.venue}, #{@event.city_name} (
        -#%span.viewMap ( View Map )
        -#.mapDiv
        -#  %span.close x
        -#  %img{:src => "/assets/map.png"}
        = render :partial => "event_map"
    .layoutWrapper
      .row
        .span8
          .eventTour
            #slider-id.coda-slider
              -if @all_event_images.present?
                -@all_event_images.each do |i|
                  %div
                    -#%img{:src => "/assets/event_photo.jpg"}
                    =image_tag(i.image)
              -else
                %div
                  %img{:src => "/assets/event_photo.jpg"}
                %div
                  %img{:src => "/assets/event_photo.jpg"}
            .viewEventGallery{:rel => @event.id}
              %a{:href => "#{show_all_event_images_event_path(@event)}"} View Event Gallery
            .eventDetail.clearfix
              %h4 Description
              -#%p What if you could deploy and scale your applications within seconds? And never had to wait again for infrastructure to be provisioned? With Cloud Foundry, which is a modern, open-source Platform as a Service, you can deploy your application instantly. Use Cloud Foundry for development, testing and production.
              .less_info
                %p #{@event.description.truncate(300)}
                -if @event.description.length < 300
                  %span.viewMore{:style => "display:none;"} View More
                -else
                  %span.viewMore View More
              .more_info
                %p #{@event.description}
                %span.viewLess Less Info
              -if !@event.is_past_event?
                -if !current_user.blank? and  (current_user.id != @event.created_by)
                  -if @event.is_cancelled?
                    %button.btn-a-small.flt-right{:id=>"cancelled_event", :event_id => "#{@event.id}" ,:disable => true,:style => "opacity:0.35"} CANCELLED
                  -else
                    -if !@event.am_i_member?(current_user.id) and @event.is_rsvp_allowed?
                      %button.btn-a-small.flt-right.rsvp_me{:id=>"follow_event", :event_id => "#{@event.id}"} R.S.V.P
                      -#%img.flt-right#rsvp_tick{:src => "/assets/Event.png",:style => "display:none"}
                      %button.btn-a-small.flt-right{:id=>"rsvp_tick",:style => "display:none;opacity:0.35"} Attending
                    -elsif !@event.am_i_member?(current_user.id) and !@event.is_rsvp_allowed?
                      %button.btn-a-small.flt-right{:id=>"join_wait_list"} Limit Reached!
                    -if @event.am_i_member?(current_user.id)
                      -#%img.flt-right{:src => "/assets/Event.png"}
                      %button.btn-a-small.flt-right{:id=>"event_rsvped",:style => "opacity:0.35"} Attending
                - else
                  -if @event.is_cancelled?
                    %button.btn-a-small.flt-right{:id=>"cancelled_event", :event_id => "#{@event.id}" ,:disable => true,:style => "opacity:0.35"} CANCELLED
                  -else
                    -if @event.is_rsvp_allowed?
                      -#%button.btn-a-small.flt-right.rsvp_me{:href => "#{signin_path}",:id=>"follow_the_event", :event_id => "#{@event.id}"} R.S.V.P
                      = link_to "R.S.V.P",signin_path,:class => "btn-a-small flt-right rsvp_me",:id=>"follow_the_event", :event_id => "#{@event.id}"
                    -else
                      %button.btn-a-small.flt-right{:id=>"join_wait_list"} Limit Reached!





              -#%a.orangeBtn{:href => "#"} R.S.V.P
          .comments.clearfix
            -if @current_user.present?
              %h4.logged_in_user{:rel => @current_user.id} Comments
            -else
              %h4 Comments
            %ul
              .all_events_comments

                .less_comments
                  -(@event.comments.last(6) || []).each do |comment|
                    %li
                      = avatar_display_pic(comment.user,'thumb', '50x50','profile.png',"img-c flt-left")
                      %h5.label-27
                        #{comment.user.fullname}
                      .commentText
                        %p #{comment.content}
                        %span.commentDate #{Time.parse(comment.created_at.to_s).strftime("%b %d, %Y")}
                  -if @event.comments.size <= 6
                    %span.viewMoreComments{:style => "display:none;"} View All
                  -else
                    %span.viewMoreComments View All
                .more_comments
                  -(@event.comments || []).each do |comment|
                    %li
                      = avatar_display_pic(comment.user,'thumb', '50x50','profile.png',"img-c flt-left")
                      %h5.label-27
                        #{comment.user.fullname}
                      .commentText
                        %p #{comment.content}
                        %span.commentDate #{Time.parse(comment.created_at.to_s).strftime("%b %d, %Y")}
                  %span.viewLessComments View Less




                -#-(@event.comments.last(6) || []).each do |comment|
                  %li
                    = avatar_display_pic(comment.user,'thumb', '50x50','profile.png',"img-c flt-left")
                    %h5.label-27
                      #{comment.user.fullname}
                    .commentText
                      %p #{comment.content}
                      %span.commentDate #{Time.parse(comment.created_at.to_s).strftime("%b %d, %Y")}

            .addCommentBox
              -if @current_user.present?
                = avatar_display_pic(@current_user,'thumb', '50x50','profile.png',"img-c flt-left")
                -#%img{:src => "/assets/default_human_face.jpg"}
                = form_tag(create_event_comment_events_path,:method => "POST",:class => "create_comment",:remote => true) do
                  = text_area_tag "comment[content]","", :placeholder => "comment", :label => false, :class => " content_comment_class ta-a"
                  = hidden_field_tag "comment[commentable_type]","Event"
                  = hidden_field_tag "comment[commentable_id]",@event.id
                  = button_tag "Add Comment",:class => "addBtn btn add_comment_button"
              -else
                - if !@event.comments.present?
                  = "No comments yet."



        .span4
          .chapterNameWithThumbnail.clearfix
            -#%img.chapterThumbnail{:src => "/assets/pune_chapter.jpg"}/
            =image_tag("logo-b.png",:size => "60x60",:class => "chapterThumbnail")
            %h3 #{@event.chapter.name}
          -#= render '/events/members_list'

          .eventPeopleList
            .listHeader
              %span administrator
              %span.numberOfPeople 1
            %ul.clearfix.adminPanel
              %li
                -#%img{:src => "/assets/human_face_4.jpg"}
                = avatar_display_pic(@event.user,'thumb', '40x40','profile.png',"profile-img img-a flt-left")
                .personDetails
                  .personName #{@event.user.fullname}

          -if @coordinaters.present?
            .eventPeopleList
              .listHeader
                %span Organisers
                %span.numberOfPeople #{@coordinaters.size}
              %ul.clearfix
                -@coordinaters.each do |i|
                  %li
                    -#%img{:src => "/assets/human_face_1.jpg"}/
                    = avatar_display_pic(i,'thumb', '40x40','profile.png',"profile-img img-a flt-left")
                    .personDetails
                      .personName #{i.fullname}
                      -#.personRole Senior Solutions Architect
          .eventPeopleList
            .listHeader
              %span list of attendees
              -if @event.id ==2
                %span.numberOfPeople 37
              -else
                %span.numberOfPeople #{@event.event_members.size}
              -#%span.numberOfPeople 06
            %ul.clearfix.listOfAttendees
              -@members.each do |i|
                %li
                  -#%img{:src => "/assets/human_face_4.jpg"}
                  = avatar_display_pic(i,'thumb', '40x40','profile.png',"profile-img img-a flt-left")
                  .personDetails
                    .personName #{i.fullname}

                -#%a{:href => "#"} View more

