= "Hi #{@user.fullname},"
%br
%p
-if @member_type == "member"
  = "Due to some reason you have been removed from secondary coordinators of #{@chapter.name} chapter.By Site Admin"
-else
  = "Congratulations! You are selected as secondary coordinator for  #{@chapter.name} chapter.By Site Admin."
%br
%p
Thank you
%p
CloudFoundry Team