-#%h2 Sign in
-#= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  %p
    = f.label :email
    %br/
    = f.email_field :email
  %p
    = f.label :password
    %br/
    = f.password_field :password
  - if devise_mapping.rememberable?
    %p
      = f.check_box :remember_me
      = f.label :remember_me
  %p= f.submit "Sign in"
-#= render :partial => "devise/shared/links"

= javascript_include_tag "jquery.validate"
.content
  = render 'shared/errors_or_notifications'
  .loginLayout.clearfix
    .plainBlueHeader
      %h3 Member Login
    .loginLeftPanel.loginVisual
      %ul
        %li
          Create & Attend the
          %span.upperCaseBold events
          in your city.
        %li
          Share your
          %span.upperCaseBold knowledge
        %li
          Discuss your
          %span.upperCaseBold thoughts
        %li
          Explore the
          %span.upperCaseBold developers world
    .loginRightPanel
      -#.loginText Login with
      -#.socialNetworks.clearfix
        -#%a{:href => "#"}
        -#  %span.facebookLink
        -#  %span.divider
        -#  Facebook
        -#%a{:href => "#"}
        -#  %span.twitterLink
        -#  %span.divider
        -#  Twitter
        -#%a{:href => "#"}
        -#  %span.linkedInLink
        -#  %span.divider
        -#  Linked In

        -#%a.signin.googleYahooBtn{:href => "#"}
          %span.text Login With
          %span.divider
          %span.googleLink
          %span.yahooLink
      %a.fbLink{:href => "/auth/facebook"}
      %a.twitterLink{:href => "/auth/twitter"}
      %a.linkedInLink{:href => "/auth/linkedin"}
      .clr
      %span OR

      .loginText Login with email
      = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|

        = f.email_field :email , :placeholder => "Email*"
        = f.password_field :password ,:placeholder => "Password*"
        - if devise_mapping.rememberable?
          .clr
            %label.checkbox{:style => "width:85px;"}
              = f.check_box :remember_me
              = f.label :remember_me,:id => "remember_me_text"
          = f.submit "LOGIN" , :class => "orangeBtn"

          %a.forgotPassword{:href => "#{users_reset_password_path}"} Forgot your password?
      %p
        Need an account?
        %a{:href => "#{new_user_registration_path}"} Sign Up

-#:javascript
  google.load("identitytoolkit", "1", {packages: ["ac"], language:"#{lang}"});
:javascript
  $(document).ready(function(){
    $("#user_password").bind("cut copy paste",function(e) {
      e.preventDefault();
    });
    $('#new_user').validate({
      rules: {
        "user[email]": {
          required: true,
          email: true
        },
        "user[password]": {
          required: true
        }
      }

    });

  });

  });