= javascript_include_tag "jquery.coda-slider-3.0"
= javascript_include_tag "jquery.vticker-min"
= javascript_include_tag "jquery.mousewheel"
= javascript_include_tag "jquery.contentcarousel"
= javascript_include_tag "jquery.easing.1.3"


%title Coda Slider 3.0
:javascript
  $(function(){
      /* Here is the slider using default settings */
    $('#slider-id').codaSlider({
      autoSlide:true,
      autoHeight:false
    });
    $('h2.title').hide();
    $('#news-container').vTicker({
      speed: 500,
      pause: 3000,
      animation: 'fade',
      mousePause: false,
      showItems: 3
    });
  });



-#=render :partial => "/shared/new_header"
.content.chapterDetails
  .breadCrumb
    %span Chapters
    %span.breadCrumbDivider /
    %span.activePage CFDG Pune Chapter
  .blueHeader
    .tag
      %img{:src => "/assets/professional_event_header_tag.png"}
    .chapterName.clearfix
      %h1 Gluecon
      %span.chapterLocation  &nbsp;/ Pune Chapter

    .chapterDateAndPlace.clearfix
      %span.chapterDate December 13,2012
      %span.chapterPlace Varad Hall, Pune
      %span.viewMap ( View Map )
      .mapDiv
        %span.close
          %i.closeIcon
        %img{:src => "/assets/map.png"}
  .joinChapter
    %a.orangeBtn{:href => "#"} Join Chapter
  .chapterLayout
    .row
      .span8
        .eventTour
          .slider.clearfix
            .sliderHeading
              %h3 Upcoming Events
            .ca-container.ca-container.clearfix
              .ca-wrapper
                .ca-item.ca-item-1
                  .ca-item-main
                    .eventListWrapper
                      .eventListInner
                        .clearfix
                          .dateAndPlace
                            .date Jan 9,2013
                            .place Pune, India
                          .tag
                            %img{:src => "/assets/student_event.png"}
                        .eventImg
                          %img{:src => "/assets/event_snap_4.jpg"}
                        .eventContent
                          %h5 Cloud foundry open tour
                          .personName Rajdeep Dua
                          %p At this Developer Day you will meet the experts and learn...
                          %a{:href => "#"} Read More
                      .eventListFooter
                        %span.numberPeopleAttending 16
                        %span People Attending
                .ca-item.ca-item-2
                  .ca-item-main
                    .eventListWrapper
                      .eventListInner
                        .clearfix
                          .dateAndPlace
                            .date Jan 9,2013
                            .place Pune, India
                          .tag
                            %img{:src => "/assets/student_event.png"}
                        .eventImg
                          %img{:src => "/assets/event_snap_4.jpg"}
                        .eventContent
                          %h5 Cloud foundry open tour
                          .personName Rajdeep Dua
                          %p At this Developer Day you will meet the experts and learn...
                          %a{:href => "#"} Read More
                      .eventListFooter
                        %span.numberPeopleAttending 16
                        %span People Attending
                .ca-item.ca-item-3
                  .ca-item-main
                    .eventListWrapper
                      .eventListInner
                        .clearfix
                          .dateAndPlace
                            .date Jan 9,2013
                            .place Pune, India
                          .tag
                            %img{:src => "/assets/student_event.png"}
                        .eventImg
                          %img{:src => "/assets/event_snap_4.jpg"}
                        .eventContent
                          %h5 Cloud foundry open tour
                          .personName Rajdeep Dua
                          %p At this Developer Day you will meet the experts and learn...
                          %a{:href => "#"} Read More
                      .eventListFooter
                        %span.numberPeopleAttending 16
                        %span People Attending
          .slider.clearfix
            .sliderHeading
              %h3 Past Events
            .ca-container.PastEventsContainer.clearfix
              .ca-wrapper
                .ca-item.ca-item-1
                  .ca-item-main
                    .pastEvent
                      .clearfix
                        .pastEventDate
                          %span.date 04
                          %span.month Dec
                        .pastEventDetails Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. Aenean ornare interdum...
                .ca-item.ca-item-2
                  .ca-item-main
                    .pastEvent
                      .clearfix
                        .pastEventDate
                          %span.date 04
                          %span.month Dec
                        .pastEventDetails Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. Aenean ornare interdum...
                .ca-item.ca-item-3
                  .ca-item-main
                    .pastEvent
                      .clearfix
                        .pastEventDate
                          %span.date 04
                          %span.month Dec
                        .pastEventDetails Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. Aenean ornare interdum...
          .slider.clearfix
            .sliderHeading
              %h3 Past Events Gallery
            .ca-container.galleryThumbnailsContainer.clearfix
              .ca-wrapper
                .ca-item.ca-item-1
                  .ca-item-main
                    .galleryThumbnails
                      = image_tag("event_gallery_thumbnail.jpg")
                      %p Cloud Foundry introduced npm support, we added serval
                      %a.lightGrayText{:href => "#"} (54 Photos)
                .ca-item.ca-item-2
                  .ca-item-main
                    .galleryThumbnails
                      = image_tag("event_gallery_thumbnail.jpg")
                .ca-item.ca-item-3
                  .ca-item-main
                    .galleryThumbnails
                      = image_tag("event_gallery_thumbnail.jpg")
        .comments.clearfix
          %h4 Posts
          %ul.posts
            %li
              .clearfix
                %img{:src => "/assets/default_human_face.jpg"}
                .commentText
                  %h4 We are excited to announce a new version of Micro Cloud Foundry™ with a new set.
                  %span.commentDate November 08,2012
              %p Since Cloud Foundry introduced npm support, we added several improvements that make deploying Node.js applications with dependencies easier, faster and more transparent to developers. Easy development When we introduced npm support...
              %a{:href => "#"} View more
            %li
              .clearfix
                %img{:src => "/assets/default_human_face.jpg"}
                .commentText
                  %p We are excited to announce a new version of Micro Cloud Foundry™ with a new set.
                  %span.commentDate November 08,2012
              %p Since Cloud Foundry introduced npm support, we added several improvements that make deploying Node.js applications with dependencies easier, faster and more transparent to developers. Easy development When we introduced npm support...
              %a{:href => "#"} View more
      .span4
        .chapterNameWithThumbnail.clearfix
          %img.chapterThumbnail{:src => "/assets/pune_chapter.jpg"}/
          %h3 Pune Chapter
        .eventPeopleList
          .listHeader
            %span Admin
            %span.numberOfPeople 07
          %ul.adminPanel.clearfix
            %li
              %img{:src => "/assets/human_face_1.jpg"}/
              .personDetails
                .personName Victor Jieh
                .personRole Senior Solutions Architect
        .eventPeopleList
          .listHeader
            %span co-ordinators
            %span.numberOfPeople 06
          %ul.clearfix
            %li
              %img{:src => "/assets/human_face_4.jpg"}/
              .personDetails
                .personName Gary Russell
                .personRole Staff engineer, springSource
            %li
              %img{:src => "/assets/human_face_5.jpg"}/
              .personDetails
                .personName Jeremy Grelle
                .personRole Sr Software Engineer, Spring...
            %li
              %img{:src => "/assets/human_face_6.jpg"}/
              .personDetails
                .personName Patrick Chanezon
                .personRole Sr Director of Developer...
          %a{:href => "#"} View more
        .eventPeopleList
          .listHeader
            %span Members
            %span.numberOfPeople 06
          %ul.listOfAttendees.clearfix
            %li
              %img{:src => "/assets/human_face_4.jpg"}/
              .personDetails
                .personName Chris Richardson

            %li
              %img{:src => "/assets/human_face_5.jpg"}/
              .personDetails
                .personName Jennifer Hickey
            %li
              %img{:src => "/assets/human_face_6.jpg"}/
              .personDetails
                .personName Oliver Gierke
          %a{:href => "#"} View more
:javascript
  $('.ca-container').contentcarousel({
         minNum          : 2
     });