= javascript_include_tag "jquery.coda-slider-3.0"
= javascript_include_tag "jquery.vticker-min"
= javascript_include_tag "jquery.mousewheel"
= javascript_include_tag "jquery.contentcarousel"
= javascript_include_tag "jquery.easing.1.3"

:javascript
  $(function(){
      /* Here is the slider using default settings */
    $('#slider-id').codaSlider({
      autoSlide:true,
      autoHeight:false
    });
    $('h2.title').hide();
  });



-#=render :partial => "/shared/new_header"
.content.eventListing
  .blueHeaderWithoutTag
    .chapterName.clearfix
      %h1 Events
  .layoutWrapper
    %form
      .eventSearchBox
        %input{:placeholder => "Type Keyword", :type => "text"}/
        .eventCitySearch.clearfix
          %span.citySearchIcon
          %input{:placeholder => "Location", :type => "text"}/
        %button.search.orangeBtn Search
    %ul#myTab.nav.nav-tabs
      %li.active
        %a{"data-toggle" => "tab", :href => "#latestEvents"} Latest Events
      %li
        %a{"data-toggle" => "tab", :href => "#pastEvents"} Past Events
    .fullWidthContainer
      #myTabContent.tab-content
        .row
          #latestEvents.tab-pane.fade.active.in
            .span4
              .eventListWrapper
                .eventListInner
                  .clearfix
                    .dateAndPlace
                      .date
                        Jan 09,2013
                      .place
                        Bangalore, India
                    .tag
                      %img{:src => "/assets/professional_event.png"}
                  .eventImg
                    %img{:alt => "No_image", :src => "/assets/event_snap_1.jpg"}
                  .eventContent
                    %h5 Cloud Foundry Open Tour
                    .personName Rajdeep Dua
                    %p.lightGrayText At this Developer Day you will meet the experts and learn...
                    %a{:href => "/events/137?locale=en"} Read more
                .eventListFooter
                  %span.numberPeopleAttending 16
                  %span People Attending
            .span4
              .eventListWrapper
                .eventListInner
                  .clearfix
                    .dateAndPlace
                      .date
                        Jan 09,2013
                      .place
                        Bangalore, India
                    .tag
                      %img{:src => "/assets/student_event.png"}
                  .eventImg
                    %img{:alt => "No_image", :src => "/assets/event_snap_2.jpg"}
                  .eventContent
                    %h5 Cloud Foundry Open Tour
                    .personName Rajdeep Dua
                    %p.lightGrayText At this Developer Day you will meet the experts and learn...
                    %a{:href => "/events/137?locale=en"} Read more
                .eventListFooter
                  %span.numberPeopleAttending 16
                  %span People Attending
            .span4
              .eventListWrapper
                .eventListInner
                  .clearfix
                    .dateAndPlace
                      .date
                        Jan 09,2013
                      .place
                        Bangalore, India
                    .tag
                      %img{:src => "/assets/student_event.png"}
                  .eventImg
                    %img{:alt => "No_image", :src => "/assets/event_snap_3.jpg"}
                  .eventContent
                    %h5 Cloud Foundry Open Tour
                    .personName Rajdeep Dua
                    %p.lightGrayText At this Developer Day you will meet the experts and learn...
                    %a{:href => "/events/137?locale=en"} Read more
                .eventListFooter
                  %span.numberPeopleAttending 16
                  %span People Attending
            .span4
              .eventListWrapper
                .eventListInner
                  .clearfix
                    .dateAndPlace
                      .date
                        Jan 09,2013
                      .place
                        Bangalore, India
                    .tag
                      %img{:src => "/assets/professional_event.png"}
                  .eventImg
                    %img{:alt => "No_image", :src => "/assets/event_snap_4.jpg"}
                  .eventContent
                    %h5 Cloud Foundry Open Tour
                    .personName Rajdeep Dua
                    %p.lightGrayText At this Developer Day you will meet the experts and learn...
                    %a{:href => "/events/137?locale=en"} Read more
                .eventListFooter
                  %span.numberPeopleAttending 16
                  %span People Attending
            .span4
              .eventListWrapper
                .eventListInner
                  .clearfix
                    .dateAndPlace
                      .date
                        Jan 09,2013
                      .place
                        Bangalore, India
                    .tag
                      %img{:src => "/assets/student_event.png"}
                  .eventImg
                    %img{:alt => "No_image", :src => "/assets/event_snap_5.jpg"}
                  .eventContent
                    %h5 Cloud Foundry Open Tour
                    .personName Rajdeep Dua
                    %p.lightGrayText At this Developer Day you will meet the experts and learn...
                    %a{:href => "/events/137?locale=en"} Read more
                .eventListFooter
                  %span.numberPeopleAttending 16
                  %span People Attending
            .span4
              .eventListWrapper
                .eventListInner
                  .clearfix
                    .dateAndPlace
                      .date
                        Jan 09,2013
                      .place
                        Bangalore, India
                    .tag
                      %img{:src => "/assets/student_event.png"}
                  .eventImg
                    %img{:alt => "No_image", :src => "/assets/event_snap_6.jpg"}
                  .eventContent
                    %h5 Cloud Foundry Open Tour
                    .personName Rajdeep Dua
                    %p.lightGrayText At this Developer Day you will meet the experts and learn...
                    %a{:href => "/events/137?locale=en"} Read more
                .eventListFooter
                  %span.numberPeopleAttending 16
                  %span People Attending
          #pastEvents.tab-pane.fade
            %p Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.

