.success_msg{:hidden => "true"}
  Event created successfully
%ul.ul-i
  -#%li.uli-selected
    -#%a{:href => "#"} Create Event
  / %li
  /   %a{:href => "#"} Post
  / %li
  /   %a{:href => "#"} Update Info
  
#admincontent
  %ul.head
    %li
      %table.in-table
        %tr
          /%td.h-in Chapter Calendar
          %td.link
            %a.cp{:href => "#" , :id=> "create_event"} + Create Event
  /.calendar-div{:style => "margin: 0 auto;margin-top:10px;width:90%;height:250px;background-color: #e0e0e0;margin-bottom: 20px;"}
%table.table-d{:style => "display:none", :id=>"all_events"}
  - @chapter_events.each do |event|   
    %tr
      %td{:style => "text-align: center;width:110px;"}
        %h5.label-26 
          = I18n.l(event.start_time, :format => :only_date)
        %h5.label-26 
          = I18n.l(event.start_time, :format => :only_time)
      %td{:style => "text-align: left;width:380px;"}
        %h5.label-36 #{event.title.truncate(15)}
        %h5.label-26 Post on #{I18n.l(event.created_at)} by #{event.user.try(:name)}
%table.table-d{:id=>"two_events"}
  - @two_chapter_events.each do |event|   
    %tr
      %td{:style => "text-align: center;width:110px;"}
        %h5.label-26 
          = I18n.l(event.start_time, :format => :only_date)
        %h5.label-26 
          = I18n.l(event.start_time, :format => :only_time)
      %td{:style => "text-align: left;width:380px;"}
        - title = !event.title.blank? ? "#{event.title}" : "No Title"
        %h5.label-36 #{event.title.truncate(15)}
        %h5.label-26 Post on #{I18n.l(event.created_at)} by #{event.user.try(:name)}
-if @chapter_events.size > 2   
  %a.label-12.flt-right.block.mar-top{:href => "#", :id=>"upcoming_events"} See all planned events....
