.row
  -if !@chapters
    .label-17
      No chapters
  -else
    - @chapters.each_with_index do |chapter,count|
      .span4.subscribedChapters
        .eventListWrapper
          .eventListInner
            .tag
              %img{:src=>"/assets/#{chapter.chapter_type}_event.png"}
            .clearfix
              -#.eventImg
              -#  %img{:src => "/assets/event_snap_4.jpg"}
              .eventContent
                %h5 #{chapter.name}
                - if chapter.chapter_type == "student"
                  .institution #{chapter.institution.truncate(66)}
            .location #{chapter.city_name}, #{chapter.country_name}
            .comingEvent
              %h5 Upcoming Event
              -if chapter.get_chapter_upcoming_events.blank?
                .pastEvent
                  .clearfix
                    .pastEventDetails.centerText.fullPadding No upcoming events.
              -else
                %a.comingEventAnchor{:href => "#{event_path(chapter.get_chapter_upcoming_events.first)}"}
                  .pastEvent
                    .clearfix
                      .pastEventDate
                        %span.date #{Time.parse(chapter.get_chapter_upcoming_events.first.event_start_date.to_s).strftime('%d')}
                        %span.month #{Time.parse(chapter.get_chapter_upcoming_events.first.event_start_date.to_s).strftime('%b')}
                      .pastEventDetails #{chapter.get_chapter_upcoming_events.first.description.truncate(72)}
          %a{:href => "#{detail_chapter_path(chapter)}"} View Chapter
          .eventListFooter
            -#%span.numberPeopleAttending #{chapter.chapter_members.length}
            %span.numberPeopleAttending #{pluralize(chapter.chapter_members.length,"Member")}
      -if (count+1)%3 == 0
        .clear