.content.wrapper
  .content-a
    .Creation-form
      %h1.label-34
        = t("chapter.creation.title")
      %h3.label-11{:style => "padding-top: 25px;"}
        = t("chapter.creation.founder_information")
      .Info
        %h4.info_label 
          = "#{t('chapter.creation.founder_name')}: #{@current_user.name}"
        %br
        %h4.info_label 
          = "#{t('chapter.creation.founder_email')}: #{@current_user.email}"

      %h3.label-11{:style => "padding-top: 25px;"} 
        = t('chapter.details')

      = semantic_form_for @chapter do |f|
        - showclass = (f.object.chapter_type == "professional" ? "display:none" : "display:block")
        #Form_ch        
          .form_r            
            %span.info_label{:style => "margin-right:10px;margin-top:25px;  line-height: 33px;"} 
              = t("chapter.type")
            %span.chapter_type{:style => "padding-left:0px"}         
              = t("chapter.types.#{@chapter.chapter_type}")
            %br
            %span.info_label{:style => "margin-right:10px;margin-top:25px;  line-height: 33px;"}
              = t("chapter.location")
            %span.chapter_type{:style => "padding-left:0px"}
              = t("chapter.types.#{@chapter.location}")
          
          %h3.label-11{:style => "padding-top: 20px;"}
            = t('chapter.proposal')

          .proposal
            %h4.ch_label To: #{@admin.email}
            %div{:style=> "height:15px;"} &nbsp;
            = f.semantic_fields_for :messages do |msg|
              = msg.input :body, :label => false, :input_html => {  :class => "send_text" ,:style => "margin-bottom: 5px;padding-left: 5px;padding-top: 5px;width: 59%;height: 142px;" }
              %br
              = msg.input :sender_id , :as => :hidden, :value => current_user.id
              = msg.input :received_id , :as => :hidden, :value => @admin.id
            = f.submit 'SEND PROPOSAL' , :class => 'send'


