= javascript_include_tag "jquery.colorbox-min"
= stylesheet_link_tag    "colorbox", :media => "all"

.content.eventDetails
  .clearfix
    .breadCrumb
      %span #{@chapter.name}
      %span.breadCrumbDivider /
      %span #{@event.title}
      %span.breadCrumbDivider /
      %span.activePage Gallery
    -#%a.back{:href => "#"} Back
  .blueHeader
    .chapterName.clearfix
      %h1 #{@event.title}
    .chapterDateAndPlace.clearfix
      %span.imageIcon
        %span.numberOfImages #{@event_images.length}
        %span Photos
  .layoutWrapper

    .row
      .span4{:style => "margin-left:-3px"}
        %ul.chapterGallery{:style => "width:300px"}
          - if @chapter.get_past_events.blank?
            .centerText.verticalMargin No event gallery for this chapter.
          -else
            - @chapter.get_past_events.each do |i|
              -if i.event_galleries.count > 0
                %li
                  %a{:href => "#{chapter_gallery_chapter_path(:event_id => i)}"}
                    .galleryThumbnails
                      -if i.image.event_landscape.present?
                        = image_tag(i.image.event_landscape.url,:size => "260x150")
                      -elsif i.image.present?
                        = image_tag(i.image.url,:size => "260x150")
                      -else
                        = image_tag("event_landscape_logo-b.png",:size => "260x150")
                      -#= image_tag("event_gallery_thumbnail.jpg")
                      %p #{i.title.truncate(45)}
                      - if i.event_galleries.present?
                        %a.lightGrayText{:href => "#{chapter_gallery_chapter_path(:event_id => i)}"} (#{i.event_galleries.count} Photos)
                      - else
                        %a.lightGrayText{:href => "#{chapter_gallery_chapter_path(:event_id => i)}"} (0 Photos)
                      -#%a.lightGrayText{:href => "#"} (54 Photos)

      .span8#chapterEventImages
        .row
          %ul.eventGallery
            -if @event_images.present?
              - @event_images.each do |i|
                %li
                  .eventImageHolder
                    = link_to(image_tag(i.image),"#{i.image}")
                    -#%a{:href => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/81/Chrysanthemum.jpg"}
                      %img{:alt => "Chrysanthemum", :src => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/81/Chrysanthemum.jpg"}/
            - else
              %h4{:style => "text-align: center;"}
                ="No image for event yet"
            -#%li
            -#  .eventImageHolder
            -#    %a{:href => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/82/Hydrangeas.jpg"}
            -#      %img{:alt => "Chrysanthemum", :src => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/82/Hydrangeas.jpg"}/




:javascript
  $(document).ready(function(){
    $(".eventImageHolder a").colorbox({rel:'group1'});
  });