= javascript_include_tag "jquery.colorbox-min"
= stylesheet_link_tag    "colorbox", :media => "all"

.content.eventDetails
  .clearfix
    .breadCrumb
      %span Events
      %span.breadCrumbDivider /
      %span Cloud Foundry Open Tour
      %span.breadCrumbDivider /
      %span.activePage Gluecon
    %a.back{:href => "#"} Back
  .blueHeader
    .chapterName.clearfix
      %h1 Cloud Foundry Open Tour
    .chapterDateAndPlace.clearfix
      %span.imageIcon
        %span.numberOfImages 89
        %span Photos
  .layoutWrapper

    .row
      .span4
        %ul.chapterGallery
          - if @chapter.get_past_events.blank?
            .centerText.verticalMargin No event gallery for this chapter.
          -else
            - @chapter.get_past_events.each do |i|
              %li
                %a{:href => "#"}
                  .galleryThumbnails
                    -if i.image.event_landscape.present?
                      = image_tag(i.image.event_landscape.url,:size => "260x150")
                    -elsif i.image.present?
                      = image_tag(i.image.url,:size => "260x150")
                    -else
                      =image_tag("event_landscape_logo-b.png",:size => "260x150")
                    -#= image_tag("event_gallery_thumbnail.jpg")
                    %p #{i.title.truncate(45)}
                    - if i.event_galleries.present?
                      %a.lightGrayText{:href => "#{chapter_gallery_chapter_path(:event_id => i)}"} (#{i.event_galleries.count} Photos)
                    - else
                      %a.lightGrayText{:href => "#{chapter_gallery_chapter_path(:event_id => i)}"} (0 Photos)
                    -#%a.lightGrayText{:href => "#"} (54 Photos)
          -#%li
            %a{:href => "#"}
              .galleryThumbnails
                = image_tag("event_gallery_thumbnail.jpg")
                %p Cloud Foundry introduced npm support, we added serval
                %a.light

      .span8
        .row
          %ul.eventGallery
            %li
              .eventImageHolder
                %a{:href => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/81/Chrysanthemum.jpg"}
                  %img{:alt => "Chrysanthemum", :src => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/81/Chrysanthemum.jpg"}/
            %li
              .eventImageHolder
                %a{:href => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/82/Hydrangeas.jpg"}
                  %img{:alt => "Chrysanthemum", :src => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/82/Hydrangeas.jpg"}/
            %li
              .eventImageHolder
                %a{:href => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/83/Jellyfish.jpg"}
                  %img{:alt => "Chrysanthemum", :src => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/83/Jellyfish.jpg"}/
            %li
              .eventImageHolder
                %a{:href => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/84/Koala.jpg"}
                  %img{:alt => "Chrysanthemum", :src => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/84/Koala.jpg"}/
            %li
              .eventImageHolder
                %a{:href => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/85/Penguins.jpg"}
                  %img{:alt => "Chrysanthemum", :src => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/85/Penguins.jpg"}/
            %li
              .eventImageHolder
                %a{:href => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/81/Chrysanthemum.jpg"}
                  %img{:alt => "Chrysanthemum", :src => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/81/Chrysanthemum.jpg"}/
            %li
              .eventImageHolder
                %a{:href => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/86/Tulips.jpg"}
                  %img{:alt => "Chrysanthemum", :src => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/86/Tulips.jpg"}/
            %li
              .eventImageHolder
                %a{:href => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/82/Hydrangeas.jpg"}
                  %img{:alt => "Chrysanthemum", :src => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/82/Hydrangeas.jpg"}/
            %li
              .eventImageHolder
                %a{:href => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/85/Penguins.jpg"}
                  %img{:alt => "Chrysanthemum", :src => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/85/Penguins.jpg"}/
            %li
              .eventImageHolder
                %a{:href => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/81/Chrysanthemum.jpg"}
                  %img{:alt => "Chrysanthemum", :src => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/81/Chrysanthemum.jpg"}/
            %li
              .eventImageHolder
                %a{:href => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/82/Hydrangeas.jpg"}
                  %img{:alt => "Chrysanthemum", :src => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/82/Hydrangeas.jpg"}/
            %li
              .eventImageHolder
                %a{:href => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/83/Jellyfish.jpg"}
                  %img{:alt => "Chrysanthemum", :src => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/83/Jellyfish.jpg"}/
            %li
              .eventImageHolder
                %a{:href => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/84/Koala.jpg"}
                  %img{:alt => "Chrysanthemum", :src => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/84/Koala.jpg"}/
            %li
              .eventImageHolder
                %a{:href => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/85/Penguins.jpg"}
                  %img{:alt => "Chrysanthemum", :src => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/85/Penguins.jpg"}/
            %li
              .eventImageHolder
                %a{:href => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/81/Chrysanthemum.jpg"}
                  %img{:alt => "Chrysanthemum", :src => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/81/Chrysanthemum.jpg"}/
            %li
              .eventImageHolder
                %a{:href => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/86/Tulips.jpg"}
                  %img{:alt => "Chrysanthemum", :src => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/86/Tulips.jpg"}/
            %li
              .eventImageHolder
                %a{:href => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/82/Hydrangeas.jpg"}
                  %img{:alt => "Chrysanthemum", :src => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/82/Hydrangeas.jpg"}/
            %li
              .eventImageHolder
                %a{:href => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/85/Penguins.jpg"}
                  %img{:alt => "Chrysanthemum", :src => "https://cfdg-test.s3.amazonaws.com/uploads/event_gallery/image/85/Penguins.jpg"}/

:javascript
  $(document).ready(function(){
    $(".eventImageHolder a").colorbox({rel:'group1'});
  });