= javascript_include_tag "jquery.coda-slider-3.0"
= javascript_include_tag "jquery.vticker-min"
= javascript_include_tag "jquery.mousewheel"
= javascript_include_tag "jquery.contentcarousel"
= javascript_include_tag "jquery.easing.1.3"
= javascript_include_tag "jquery.selectbox-0.2.min"
= stylesheet_link_tag    "jquery.selectbox", :media => "all"
= javascript_include_tag "jquery.validate"


:javascript
  $(function() {
    $(".selectID").selectbox();
  });
:javascript
  $(function(){
      /* Here is the slider using default settings */
    $('#slider-id').codaSlider({
      autoSlide:true,
      autoHeight:false
    });
    $('h2.title').hide();
    $('#news-container').vTicker({
      speed: 500,
      pause: 3000,
      animation: 'fade',
      mousePause: false,
      showItems: 3
    });

    $( "#city_autocomplete" ).autocomplete({
      source: "/home/autocomplete_city_details",
      minLength: 2,
      select: function( event, ui ) {
        //log( ui.item ?
        //  "Selected: " + ui.item.value + " aka " + ui.item.id :
        //  "Nothing selected, input was " + this.value );
        //alert(this.value)
      }
    });

    $('#search_chapter').validate({
      rules: {
        "query": {
          required: true
        }
      }
    });
  });



-#=render :partial => "/shared/new_header"
.content.chapterListing
  .blueHeaderWithoutTag
    .chapterName.clearfix
      %h1 Chapters
      -if current_user.blank?
        %span
          Could not find a chapter in your city?
          %a.btn{:href => "#{signin_path}"} Create a Chapter
      -else
        -if !ChapterMember.is_primary_coordinator?(current_user.id)
          %span
            Could not find a chapter in your city?
            %a.btn.darkBlueBtn{:href => "#{new_chapter_path}"} Create a Chapter

  .layoutWrapper
    .chapterSearchBox.clearfix
      =form_tag search_chapter_list_chapters_path  , :method => :get,:id => "search_chapter"  do
        .eventCitySearch.clearfix
          %span.citySearchIcon
          = text_field_tag 'query', params[:query], :size => 75 ,:placeholder => "City Name"  ,:id => "city_autocomplete"
        = select_tag "chapter_type", options_for_select(["All","Professional","Student"]), :class =>"selectID"
        -#= submit_tag "Search", :class =>"orangeBtn"
        = button_tag "Search" , :class => "orangeBtn search"
      %a.signUp.btn{:href => "#{list_chapters_path(:all_chapters =>true)}"} View all Chapters
    =render "chapter_list"

:javascript
  $(document).ready(function(){
     $(".ui-autocomplete").addClass('alignment')
  })

