= javascript_include_tag "jquery.coda-slider-3.0"
= javascript_include_tag "jquery.vticker-min"
= javascript_include_tag "jquery.mousewheel"
= javascript_include_tag "jquery.contentcarousel"
= javascript_include_tag "jquery.easing.1.3"
= javascript_include_tag "jquery.selectbox-0.2.min"
= stylesheet_link_tag    "jquery.selectbox", :media => "all"

:javascript
  $(function() {
    $(".selectID").selectbox();
  });
:javascript
  $(function(){
      /* Here is the slider using default settings */
    $('#slider-id').codaSlider({
      autoSlide:true,
      autoHeight:false
    });
    $('h2.title').hide();
    $('#news-container').vTicker({
      speed: 500,
      pause: 3000,
      animation: 'fade',
      mousePause: false,
      showItems: 3
    });

    $( "#city_autocomplete" ).autocomplete({
              source: "/home/autocomplete_city_details",
              minLength: 2,
              select: function( event, ui ) {
                //log( ui.item ?
                //  "Selected: " + ui.item.value + " aka " + ui.item.id :
                //  "Nothing selected, input was " + this.value );
                //alert(this.value)
              }
            });
  });



-#=render :partial => "/shared/new_header"
.content.chapterListing
  .blueHeaderWithoutTag
    .chapterName.clearfix
      %h1 Chapters
      %span
        Could not find a chapter in your city?
        %a.btn.darkBlueBtn{:href => "#"} Create a Chapter
  .layoutWrapper
    .chapterSearchBox.clearfix
      =form_tag search_chapters_path  , :method => :get,:id => "search_chapter"  do
        .eventCitySearch.clearfix
          %span.citySearchIcon
          = text_field_tag 'query', '', :size => 75 ,:placeholder => "City Name"  ,:id => "city_autocomplete"
          = select_tag "chapter_type", options_for_select(["Professional" , "Student"])
          = submit_tag "Search", :class =>"orangeBtn"

        -#%select.selectID{:name => "country_id", :tabindex => "1"}
        -#  %option Pune
        -#  %option Nagpur
        -#  %option India
        -#%button.signUp.orangeBtn Search
      %a.signUp.btn{:href => "#"} View all Chapters
    =render :partial => "chapter_list"

