= javascript_include_tag "jquery.coda-slider-3.0"
= javascript_include_tag "jquery.vticker-min"
= javascript_include_tag "jquery.mousewheel"
= javascript_include_tag "jquery.contentcarousel"
= javascript_include_tag "jquery.easing.1.3"


%title Coda Slider 3.0
:javascript
  $(function(){
      /* Here is the slider using default settings */
    $('#slider-id').codaSlider({
      autoSlide:true,
      autoHeight:false
    });
    $('h2.title').hide();
    $('#news-container').vTicker({
      speed: 500,
      pause: 3000,
      animation: 'fade',
      mousePause: false,
      showItems: 3
    });
  });



-#=render :partial => "/shared/new_header"
.content.ChapterDetails
  .breadCrumb
    %span Chapters
    %span.breadCrumbDivider /
    %span.activePage #{@chapter.try(:name)}
  .blueHeader
    .chapterName.clearfix
      %h1 #{@chapter.try(:name)}
    .chapterDateAndPlace.clearfix
      %span.chapterPlace #{@chapter.try(:city_name)}
      %span.viewMap ( View Map )
      .mapDiv
        %span.close x
        -#%img{:src => "/assets/map.png"}
        = render :partial => "chapter_map"
  .joinChapter
    -#%button.orangeBtn Join Chapter
    -if !@is_part_of_chapter
      = form_tag join_a_chapter_chapters_path, :method => :post do
        = hidden_field_tag "chapter_id", "#{@chapter.id}"
        - if @current_user.blank?
          = link_to 'Join Chapter' ,signin_path, :class => "join_us orangeBtn"
        - else
          = submit_tag 'Join Chapter' , :class => "join_us orangeBtn"
  .chapterLayout
    .row
      .span8
        .eventTour
          .slider.clearfix
            .sliderHeading
              %h3 Upcoming Events
            .ca-container.ca-container.clearfix
              .ca-wrapper
                - if @upcoming_events.blank?
                  = "No upcoming events for this chapter."
                -else
                  - @upcoming_events.each do |event|
                    .ca-item.ca-item-1
                      .ca-item-main
                        .eventListWrapper
                          .eventListInner
                            .clearfix
                              .dateAndPlace
                                -chapter = event.chapter
                                .date #{Time.parse(event.event_start_date.to_s).strftime('%b')} #{Time.parse(event.event_start_date.to_s).strftime('%d')}, #{Time.parse(event.event_start_date.to_s).strftime('%Y')}
                                .place #{event.chapter.city_name}, #{chapter.country_name}
                              .tag
                                -if chapter.chapter_type == "student"
                                  %img{:src => "/assets/student_event.png"}
                                -else
                                  %img{:src => "/assets/professional_event.png"}
                            .eventImg
                              -if event.image.event_landscape.present?
                                = image_tag(event.image.event_landscape.url,:size => "260x150")
                              -elsif event.image.present?
                                = image_tag(event.image.url,:size => "260x150")
                              -else
                                =image_tag("event_landscape_logo-b.png",:size => "260x150")
                            .eventContent
                              %h5 #{event.title}
                              .personName #{event.user.fullname}
                              %p.lightGrayText #{event.description.truncate(70)}
                              %a{:href => "#{event_path(event)}"} Read more
                          .eventListFooter
                            %span.numberPeopleAttending #{event.event_members.length}
                            %span People Attending


                -#.ca-item.ca-item-1
                  .ca-item-main
                    .eventListWrapper
                      .eventListInner
                        .clearfix
                          .dateAndPlace
                            .date Jan 9,2013
                            .place Pune, India
                          .tag
                            %img{:src => "/assets/student_event.png"}
                        .eventImg
                          %img{:src => "/assets/event_snap_4.jpg"}
                        .eventContent
                          %h5 Cloud foundry open tour
                          .personName Rajdeep Dua
                          %p.lightGrayText At this Developer Day you will meet the experts and learn...
                          %a{:href => "#"} Read More
                      .eventListFooter
                        %span.numberPeopleAttending 16
                        %span People Attending




                -#.ca-item.ca-item-2
                  .ca-item-main
                    .eventListWrapper
                      .eventListInner
                        .clearfix
                          .dateAndPlace
                            .date Jan 9,2013
                            .place Pune, India
                          .tag
                            %img{:src => "/assets/student_event.png"}
                        .eventImg
                          %img{:src => "/assets/event_snap_4.jpg"}
                        .eventContent
                          %h5 Cloud foundry open tour
                          .personName Rajdeep Dua
                          %p.lightGrayText At this Developer Day you will meet the experts and learn...
                          %a{:href => "#"} Read More
                      .eventListFooter
                        %span.numberPeopleAttending 16
                        %span People Attending
                -#.ca-item.ca-item-3
                  .ca-item-main
                    .eventListWrapper
                      .eventListInner
                        .clearfix
                          .dateAndPlace
                            .date Jan 9,2013
                            .place Pune, India
                          .tag
                            %img{:src => "/assets/student_event.png"}
                        .eventImg
                          %img{:src => "/assets/event_snap_4.jpg"}
                        .eventContent
                          %h5 Cloud foundry open tour
                          .personName Rajdeep Dua
                          %p.lightGrayText At this Developer Day you will meet the experts and learn...
                          %a{:href => "#"} Read More
                      .eventListFooter
                        %span.numberPeopleAttending 16
                        %span People Attending

          .past_events
            =render :partial => "past_events"
            -#.slider.clearfix
            -#  .sliderHeading
            -#    %h3 Past Events
            -#  .ca-container.PastEventsContainer.clearfix
            -#    .ca-wrapper
            -#      .ca-item.ca-item-1
            -#        .ca-item-main
            -#          .pastEvent
            -#            .clearfix
            -#              .pastEventDate
            -#                %span.date 04
            -#                %span.month Dec
            -#              .pastEventDetails Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. Aenean ornare interdum...
            -#      .ca-item.ca-item-2
            -#        .ca-item-main
            -#          .pastEvent
            -#            .clearfix
            -#              .pastEventDate
            -#                %span.date 04
            -#                %span.month Dec
            -#              .pastEventDetails Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. Aenean ornare interdum...
            -#      .ca-item.ca-item-3button_tag
            -#        .ca-item-main
            -#          .pastEvent
            -#            .clearfix
            -#              .pastEventDate
            -#                %span.date 04
            -#                %span.month Dec
            -#              .pastEventDetails Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. Aenean ornare interdum...

          .slider.clearfix
            .sliderHeading
              %h3 Events Gallery
            .ca-container.galleryThumbnailsContainer.clearfix
              .ca-wrapper
                - @chapter.get_past_events.each do |i|
                  .ca-item.ca-item-1
                    .ca-item-main
                      .galleryThumbnails
                        -if i.image.event_landscape.present?
                          = image_tag(i.image.event_landscape.url,:size => "260x150")
                        -elsif i.image.present?
                          = image_tag(i.image.url,:size => "260x150")
                        -else
                          =image_tag("event_landscape_logo-b.png",:size => "260x150")
                        -#-else
                          = image_tag("event_gallery_thumbnail.jpg",:size => "260x150")
                        -#%p Cloud Foundry introduced npm support, we added serval
                        %p #{i.title.truncate(15)}
                        - if i.event_galleries.present?
                          %a.lightGrayText{:href => "#{show_all_event_images_event_path(i)}"} (#{i.event_galleries.count} Photos)
                        - else
                          %a.lightGrayText{:href => "#{show_all_event_images_event_path(i)}"} (0 Photos)
                -#.ca-item.ca-item-2
                  .ca-item-main
                    .galleryThumbnails
                      = image_tag("event_gallery_thumbnail.jpg")
                -#.ca-item.ca-item-3
                  .ca-item-main
                    .galleryThumbnails
                      = image_tag("event_gallery_thumbnail.jpg")

        .comments.clearfix
          %h4 Posts
          %ul.posts

            - @chapter.posts.each do |i|
              %li
                .clearfix
                  -if i.user.avatar_file_name.present?
                    = avatar_display_pic(i.user,'thumb', '50x50','profile.png',"img-c flt-left")
                  -else
                    %img{:src => "/assets/default_human_face.jpg"}
                  .commentText
                    %p #{i.title}
                    %span.commentDate #{Time.parse(i.try(:created_at).to_s).strftime('%b %d, %Y')}
                %p #{i.description.truncate(197)}
                %a{:href => "#"} View more
      .span4
        =render :partial => "event_admin_and_members_list"
      -#.span4
        .chapterNameWithThumbnail.clearfix
          %img.chapterThumbnail{:src => "/assets/pune_chapter.jpg"}/
          %h3 Pune Chapter
        .eventPeopleList
          .listHeader
            %span Admin
            %span.numberOfPeople 07
          %ul.adminPanel.clearfix
            %li
              %img{:src => "/assets/human_face_1.jpg"}/
              .personDetails
                .personName Victor Jieh
                .personRole Senior Solutions Architect
        .eventPeopleList
          .listHeader
            %span co-ordinators
            %span.numberOfPeople 06
          %ul.clearfix
            %li
              %img{:src => "/assets/human_face_4.jpg"}/
              .personDetails
                .personName Gary Russell
                .personRole Staff engineer, springSource
            %li
              %img{:src => "/assets/human_face_5.jpg"}/
              .personDetails
                .personName Jeremy Grelle
                .personRole Sr Software Engineer, Spring...
            %li
              %img{:src => "/assets/human_face_6.jpg"}/
              .personDetails
                .personName Patrick Chanezon
                .personRole Sr Director of Developer...
          %a{:href => "#"} View more
        .eventPeopleList
          .listHeader
            %span Members
            %span.numberOfPeople 06
          %ul.listOfAttendees.clearfix
            %li
              %img{:src => "/assets/human_face_4.jpg"}/
              .personDetails
                .personName Chris Richardson

            %li
              %img{:src => "/assets/human_face_5.jpg"}/
              .personDetails
                .personName Jennifer Hickey
            %li
              %img{:src => "/assets/human_face_6.jpg"}/
              .personDetails
                .personName Oliver Gierke
          %a{:href => "#"} View more

:javascript
  Chapters.init();
  Events.init();
  $(document).ready(function(){
    $('.ca-container').contentcarousel({
      minNum          : 2
    });

  });