%p 管理员你好，
%p 
  %strong= @event.chapter.name
  分会活动已被分会主席
  %strong= @event.chapter.get_primary_coordinator.name
  更改。

%p 更新的活动信息：
%p 活动名称：#{@event.title}
%p 活动时间：#{@event.schedule}
%p 活动地点：#{@event.location}
%p 活动内容：#{@event.description}

%p 请及时关注。


%p CloudFoundry 同学会
