%p 同学你好，
%p 
  关于
  %strong= @event.chapter.name
  分会的
  %strong= @event.title
  ， 活动信息已更新为：

%p 活动名称：#{@event.title}
%p 活动时间：#{@event.schedule}
%p 活动地点：#{@event.location}
%p 活动内容：#{@event.description}
%p 欢迎各位同学报名。已报名的同学，请准时参加。


%p Cloud Foundry同学会
