%p 管理员你好，

%p Cloud Foundry 同学会出现一个新的活动申请。活动信息：
%p 分会： #{@event.chapter.name}
%p 分会主席: #{@event.chapter.get_primary_coordinator.name}
%p 活动名称: #{@event.title}
%p 活动时间: #{@event.event_start_date} #{@event.event_start_time} - #{@event.event_end_date} #{@event.event_end_time}
%p 活动地点: #{@event.address_line1} #{@event.address_line2}
%p 活动内容: #{@event.description}
%p 预计人数: #{@event.description}
%p 所需资源: to be added.

%p 请及时处理。

%p Cloud Foundry同学会
