%p 同学你好，
%p 
  恭喜！你已成功报名
  %strong= @event.chapter.name 
  分会活动。

%p 活动详情如下。请准时参加。

%h4 活动信息：

%p 活动名称: #{@event.title}
%p 活动时间: #{@event.schedule}
%p 活动地点: #{@event.location}
%p 活动内容: #{@event.description}


%p Cloud Foundry同学会
