Dear Member,
%br/
%p
= "There have been some changes in the #{@event.title} of the #{@chapter.name}."
= "Please follow the following url for further details: #{event_url(@event)} "
%p
Thank you
%p
CloudFoundry Team

