Dear Member,
%br/
%p
= "The #{@chapter.name} chapter is going to organise an event #{@event.title}. Please follow the link below for further information:"
= "#{event_url(@event)} "
%p
Thank you,
%p
CloudFoundry Team