= "Hi"
%br
%p
  = "You are invited for #{@event.title} event of #{@chapter.name} chapter.By #{@user.fullname}"
%br
%a{:href => "#{event_url(@event)}"} Click Here to see the event.
%p
Thank you
%p
CloudFoundry Team