=javascript_include_tag "jquery.timeago"
.content.wrapper
  .content-d
    .cd-top
      %h1.label-42 Site Administrator
      #tabs
        %ul.ul-f.customTabList
          %li.ulf-selected
            %a{:href => "#tabs-1"} Chapter Satus
            %i.bg-arrow-down-b
          %li
            %a{:href => "#{admin_announcements_path}"} Announcement
            %i.bg-arrow-down-b
        .activityLog
          = link_to "Activity Log", activity_logs_path, :remote=>true
        -#.clearFix
        .sendEmail
          = link_to "Send Email", new_email_path, :remote => true, :class => 'emailLink'
        .clearFix
        #tabs-2{:style=>"display:none"}
        #tabs-1
          #inner-tabs
            %ul.ul-i.innerTabList
              %li.uli-selected
                %a{:href => "#inner-tab1"} Applied
              %li
                %a{:href => "#{incubate_admin_chapters_path}"} Incubate
              %li
                %a{:href => "#{active_admin_chapters_path}"} Active
              %li
                %a{:href => "#{delist_admin_chapters_path}"} Delist
              %li
                %a{:href => "#{all_admin_chapters_path}"} All
            #inner-tab1
              %ul.ul-j
                - if @chapters.present?

                  - @chapters.each do |chapter|
                    - if chapter.incubated? || chapter.denied?
                      %li{:id => "chapter#{chapter.id}"}
                        %table.table-b
                          %tr
                            %td.tb-1-4
                              %a.bg-profile-img-s{:href => "/users/#{chapter.user.id}/profile_info" }
                                - if chapter.user.avatar_file_name && (chapter.user.errors[:avatar_content_type].blank? && chapter.user.errors[:avatar_file_size].blank?)
                                  %img.profile-image-s{:src => chapter.user.try(:avatar).url(:medium)}
                                - else
                                  %img.profile-image-s{:src => "/assets/default-Profile-Image.png"}

                            %td.tb-2-4

                              = link_to chapter.try(:user).try(:fullname),profile_info_user_path(chapter.user), :class => "label-my"
                              %h5.label-20= "Location:  #{chapter.location}"
                            %td.tb-3-4
                              %h5.label-20= chapter.created_at.strftime("%B %d, %Y")
                              - if chapter.incubated?
                                %h5.label-20.flt-right.td-approved= "Approved on #{chapter.approved_on.strftime("%b %d, %Y")}" if chapter.approved_on
                              - else
                                %h5.label-20.flt-right= "Rejected on #{chapter.rejected_on.strftime("%b %d, %Y")}" if chapter.rejected_on
                    - else
                      %li
                        %table.table-b
                          %tr
                            %td.tb-1-4
                              %a.bg-profile-img-b{:href => "#"}
                                -#%img.profile-img-b{:src => "/assets/img-d.png"}/
                                %img.profile-img-b{:src => "/assets/img-d.png"}/
                            %td.tb-2-4
                              %a.label-43{:href => "#", :style => "position: relative;"}
                                -#= chapter.user.inspect
                                = link_to chapter.try(:user).try(:fullname),profile_info_user_path(chapter.user), :class => "label-my"
                                %span{:id => "approve-reject#{chapter.id}" , :style=>"font-size: 12px;text-align: right;left: 540px;position: absolute;width: 200px;"}
                                  %button.btn-a-small.change_status{:style => "top:-3px;","data-url" => "#{change_status_admin_chapter_path(chapter, :status => 'incubate')}"} APPROVE
                                  %button.btn-c-small.change_status{:style => "top:-3px;","data-url" => "#{change_status_admin_chapter_path(chapter, :status => 'deny')}"} REJECT
                              %h5.label-20= chapter.created_at.strftime("%B %d, %Y")
                              %h5.label-20= "Location:  #{chapter.location}"
                              %h5.label-20= "Emai: #{chapter.try(:user).try(:email)}"
                              %br/
                              %p.label-26{:style => "padding-right:0px"}
                                = chapter.messages.root.try(:body)
                            %td.tb-3-4{:style => "width:150px;"}
                        %table.table-b{:id => "chapter#{chapter.id}"}
                          = render :partial => "message" , :locals => {:chapter => chapter}
                -else
                  No Request
:javascript
  $(".activityLog, .emailLink").click(function(){
    $(this).css("box-shadow", "0px 2px #003A69");
    $(this).append($('i').addClass("bg-arrow-down-b"));
    $(this).siblings().find('.activityLog, .emailLink').css('box-shadow', '');
    $(".ul-f > li").css('box-shadow', '')
  });   
  $(".customTabList").click(function(){
    $(".activityLog > i, .emailLink > i").remove();
    $(".activityLog, .emailLink").css("box-shadow", "");
  });
  $(".emailLink").click(function(){
    $(".activityLog > i").remove();
    $(".activityLog").css("box-shadow", "");
  });
:javascript 
  $(".ul-f > li").click(function(){
    $(this).css( 'box-shadow', '0px 2px #003A69');
    $(this).siblings().css('box-shadow', '')
    $(this).find('i').css('display', 'block');
    $(this).append($('i').addClass("bg-arrow-down-b"));
    console.log($(".ul-f > li").first());
    if ($(this)[0] == $(".ul-f > li").first()[0]){
      $("#tabs-1").show();
      $("#tabs-1").addClass("ulf-selected");
    }
    else{
      $("#ui-tabs-1").show();
      $("#ui-tabs-1").addClass("ulf-selected");
    }
    $("#tabs-2").hide();


  });