-#.content.wrapper
  %h1 Add secondary Co-ordinator
  %br
  %br

  %ul
    Email &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Full Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp
    Action
  %br
    - @members.each do |m|
      %li
        = m.user.email
        = m.user.fullname
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp      &nbsp;&nbsp
        = link_to "Add secondary co-odrinator" , create_secondary_coordinator_admin_chapter_path(:member => m) , :method => "POST"
      %br
.content.wrapper
  -#.div-l{:style => "overflow:visible;"}
    .dd-b
      %h5.label-44
        Add Secondary Co-ordinator
        %img.arrow-down-d-img{:src => "/assets/arrow-down-d.png"}
  %table.table-e
    %thead
      %tr
        %td{:style => "width:100px;text-align: left;"}
          %h5.label-46 Email
        %td{:style => "width:115px;"}
          %h5.label-46 Full Name
        %td{:style => "width:100px;"}
          %h5.label-46 Action
    %tbody
      - if @members.present?
        - @members.each do |member|
          - unless member.user.admin?
            %tr
              %td{:style => "text-align: left;"}
                %h5.label-48= member.user.email
              %td
                = link_to member.user.fullname, profile_info_user_path(member.user), :class => "label-my"
              %td
                %h5.label-48.secondaryCo
                - if member.memeber_type == ChapterMember::MEMBER
                  = link_to "Add Secondary Coodrinator" , create_secondary_coordinator_admin_chapter_path(:member => member), :confirm => "Are you sure you want to add this chapter member as secondary coordinator?", :class => "btnLink change_status", :method => "POST",:disable_with =>  "Adding...."
                -else
                  = link_to "Remove Secondary coordinator", delete_secondary_coordinator_admin_chapter_path(:member => member),:confirm => "Are you sure you want to remove this chapter member from secondary coordinators?", :class => "btnLink change_status", :method => "PUT",:disable_with =>  "Removing...."

      - else
        %tr
          %td{:style => "text-align: left;"}
            %h5.label-48
              = "No Active Members"