!!!
%html
  %head
    %link{:href => "/assets/favicon.ico",:rel => "shortcut icon"}
    %title Cloud Foundry Developer Group
    = stylesheet_link_tag    "admin", :media => "all"
    -#= stylesheet_link_tag    "event", :media => "all"
    = stylesheet_link_tag    "site-admin", :media => "all"
    = stylesheet_link_tag    "site-admin-Announcement", :media => "all"
    = stylesheet_link_tag    "jquery.timepicker-1.2.2", :media => "all"
    = javascript_include_tag "application"
    = javascript_include_tag "ckeditor/init"
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"}   
    %script{:src => "http://code.jquery.com/jquery-1.8.2.js"}
    %script{:src => "http://code.jquery.com/ui/1.9.0/jquery-ui.js"}
    = csrf_meta_tags
  %body
    = render "shared/admin_header"    
    = yield
    = render "shared/footer"
    = yield :scripts