!!!
%html
  %head
    %link{:href => "/assets/favicon.ico",:rel => "shortcut icon"}
    %title Cloud Foundry Developer Group
    = stylesheet_link_tag    "user-profile-event", :media => "all"
    = stylesheet_link_tag    "chapterAdmin", :media => "all"
    = stylesheet_link_tag    "site-admin", :media => "all"
    = stylesheet_link_tag    "event", :media => "all"
    = stylesheet_link_tag    "jquery.timepicker-1.2.2", :media => "all"
    = stylesheet_link_tag    "application"

    = csrf_meta_tags

  %body{ :"data-controller" => controller_name, :"data-action" => action_name }

    = render "shared/flash_messages"
    = render "shared/header"
    = yield
    = render "shared/footer"
    %script{:src => "http://commons.qiniudn.com/jquery-1.8.3.min.js"}
    %script{:src => "http://commons.qiniudn.com/jquery-ui-1.9.2.custom.min.js"}
    = javascript_include_tag :application
    = yield :javascript
